[2020-12-25 15:14] Tejas1510 opened #1 "Add a Contributing.md File"
The Contributing File Should consist of a Detailed explanation of how to contribute to the project with the use of images so beginners will find it easy to contribute

[2020-12-25 15:15] Tejas1510 opened #2 "Add Code of Conduct File"

[2020-12-25 15:20] Tejas1510 opened #3 "Improve the layout of Main Page"
Modify the MainPage Layout by making the UI better

[2020-12-25 15:23] Tejas1510 opened #4 "Add a Dislike Button in the Card"
Add a Dislike Button like the like button

[2020-12-25 15:26] Tejas1510 opened #5 "Suggest layout for form"
Suggest Layout for the form to make it more attractive

[2020-12-25 15:29] Tejas1510 opened #6 "Add Authentication"
Add a login and signup page and the data should be stored in a database and every user should be shown his corresponding memory only

[2020-12-26 14:55] Tejas1510 opened #9 "Add a Alert Box"
Add an alert box when a user tries to delete a Memory and he is not an admin then an alert is shown
![image](https://user-images.githubusercontent.com/64543913/103165093-9b410f00-4839-11eb-945e-706a2c3a6324.png)
If a user tries to delete and password entered is incorrect then an Alert Box Should be Shown with Password Incorrect Content using Matrial ui

[2020-12-26 18:00] kanishkaa24 commented on #1
Hey!
I would love to work on this issue.

[2020-12-26 18:00] kanishkaa24 commented on #2
Hey!
I would love to work on this issue.

[2020-12-26 18:01] kanishkaa24 commented on #3
Hey!
I would love to work on this issue.

[2020-12-26 18:01] Tejas1510 commented on #1
Go Ahead @kanishkaa24

[2020-12-26 18:01] kanishkaa24 commented on #5
Hey!
I would love to work on this issue.

[2020-12-26 18:03] kanishkaa24 commented on #1
Kindly enlighten me with the required protocol.

[2020-12-26 18:04] Tejas1510 commented on #3
Go ahead @kanishkaa24

[2020-12-26 18:06] Tejas1510 commented on #1
@kanishkaa24 you can refer this https://github.com/HarshCasper/Rotten-Scripts/blob/master/CONTRIBUTING.md
We want to have a similar kind of file but the images used should be this current project

[2020-12-26 18:07] Tejas1510 commented on #5
@kanishkaa24 you currently have two assigned issue
You can first finish them and then I will assign you

[2020-12-26 18:10] kanishkaa24 commented on #5
Okay
Thank you !

[2020-12-26 18:36] Aniket31-coder commented on #5
Hey!
I would like to work on this issue. Should we use Figma to design the form and can you send the template of the form?

[2020-12-26 19:15] Tejas1510 commented on #5
@Aniket31-coder the current form looks fine but if you have a better template which may go good with the project you can share the template and we can have a discussion over it

[2020-12-26 19:16] Tejas1510 commented on #5
You can use figma to create the basic layout and if approved you can create the form using material UI components for which you will be getting extra points

[2020-12-26 19:42] Aniket31-coder commented on #5
Okay, sure. Thanks for guiding!!

[2020-12-26 22:29] kenkirito commented on #4
can you assign me this issue

[2020-12-26 23:23] kenkirito commented on #6
can i work on this issue

[2020-12-27 05:28] Sakshi-25 commented on #4
Hey @Tejas1510 I would like to work on this issue, can you assign me this please?
1) One can only like or dislike? or both can be done at the same time?
2) One person can like that as many times as he wants,( like I liked on card, then it got incremented, again I clicked again it incremented)
Is that okay or need to be fixed?

Please assign me these tasks.  @Tejas1510 @kenkirito

[2020-12-27 05:32] Sakshi-25 commented on #3
Some improvements that I suggest:

- The more button ( 3 dots) isn't doing anything, Can I add some features to it like:
	- *Explore* : Show other details about the cards, like pictures etc
	- *Expand* : Make the card dimensions bigger and show more info
- Associate a Date with every card to so that we can sort that accordingly.
- Applying a filter options in the search bar - sort by date, admins,

[2020-12-27 05:41] Tejas1510 commented on #4
@Sakshi-25 actually one person can like or dislike only once but you have to add authentication
Like every user should have a separate account and he should Login and only his memories to be visible to him
So it is a big issue if you want to work you can go ahead
You will given more marks for that

[2020-12-27 05:41] Tejas1510 commented on #6
@kenkirito GO ahead
Just State what is your Plan going ahead

[2020-12-27 05:44] Tejas1510 commented on #3
The 3 dots are for Updation purpose so if a user wants to update some info
But I really like your Idea of Filtering based on various Parameter
You can go ahead on that @Sakshi-25

[2020-12-27 05:49] Tejas1510 opened #12 "Add a heart icon in the Card"
Add a Heart Icon in the Card which turns red on clicking and is added to favorite Category
We will be having various option to filter card
It will also be an option

[2020-12-27 05:51] Sakshi-25 commented on #4
Sure, will try! Kindly assign me this.

[2020-12-27 05:55] Sakshi-25 commented on #3
Kindly assign so that I can make a PR😅

[2020-12-27 05:57] Tejas1510 opened #13 "Suggest Improvement"
If you Think any issue would help to improve the project you can suggest that and we would think on it

[2020-12-27 06:11] Tejas1510 commented on #3
@Sakshi-25 you have been Assigned Go Ahead

[2020-12-27 06:22] Tejas1510 opened #14 "Improve The Layout Of Modal"
The Current Modal is as follows
![image](https://user-images.githubusercontent.com/64543913/103165131-e65b2200-4839-11eb-8a96-fcf29a092dd0.png)

You have to change the layout of Modal So as to Make it Look nice and Professional

[2020-12-27 07:29] Aniket31-coder commented on #5
Hey!
I have created a basic layout, please let me know if any changes are required!!
![image](https://user-images.githubusercontent.com/55101835/103165904-5de17f00-4843-11eb-9831-d1ef4dd8e643.png)

[2020-12-27 07:38] Tejas1510 commented on #5
That's look Pretty Cool @Aniket31-coder
Just One Question will it go good with our Background as it is also yellow in Color
If you Can attach a screenshot of the complete homepage then it will be easy to decide
Else the design is Awesome

[2020-12-27 07:52] Aniket31-coder commented on #5
Yes, that's the reason I chose yellow, I will send you the complete homepage soon!
Thanks!

[2020-12-27 07:57] Tejas1510 commented on #5
Sure would be happy to merge your work

On Sun, 27 Dec 2020, 1:22 pm Aniket31-coder, <notifications@github.com>
wrote:

[2020-12-27 09:14] #1 closed

[2020-12-27 09:14] #2 closed

[2020-12-27 10:23] Aniket31-coder commented on #5
Hi,
I have done making the final layout and the complete homepage looks like this.
![image](https://user-images.githubusercontent.com/55101835/103168682-4615f500-485b-11eb-89ca-18a22b3a4154.png)

But when we start writing the text goes between two colors yellow and white
![image](https://user-images.githubusercontent.com/55101835/103168711-837a8280-485b-11eb-89ad-d2faf2508aa1.png)

Could you pleas

[2020-12-27 10:34] kenkirito commented on #4
hii can we both work on this task together

[2020-12-27 10:35] Tejas1510 commented on #5
@Aniket31-coder the design looks good but I would suggest to choose a different colour for the form as it gets mixed with background
It should clearly evident rest everything is ok
For text input let it be simple black

[2020-12-27 10:36] Aniket31-coder commented on #5
Okay, sure!

[2020-12-27 10:40] Sakshi-25 commented on #4
yes sure

[2020-12-27 10:42] Tejas1510 commented on #4
@kenkirito if both you agree you may both will be awarded points

[2020-12-27 11:04] Aniket31-coder commented on #5
Hey!
I have changed the color as per your feedback!
![image](https://user-images.githubusercontent.com/55101835/103169401-431e0300-4861-11eb-949f-541224526f7b.png)
Could you tell if this color looks good?

[2020-12-27 11:08] Tejas1510 commented on #5
Go ahead and make a Pr @Aniket31-coder
It looks good to me

[2020-12-27 11:16] Aniket31-coder commented on #5
Thanks for helping me and accepting my idea!

[2020-12-27 11:18] SuNiL-Chau commented on #14
Hey @Tejas1510 can I give it a shot?

[2020-12-27 11:25] Tejas1510 commented on #14
Go for it @SuNiL-Chau

[2020-12-27 11:29] kanishkaa24 commented on #3
https://github.com/kanishkaa24/Athavani/blob/master/Memories%20are%20forever.png
This is the link to the image.

[2020-12-27 12:18] kenkirito commented on #4
@Tejas1510  hi i am getting some issues in frontend

[2020-12-27 14:14] Tejas1510 opened #18 "Standard Webpage for the Website"
This is a Level-5 issue
You have to create a Separate folder name HomePage and all your code inside it
It should be a full-fledged complete Website and should be responsive
The main designment Part lies with you

[2020-12-27 14:18] kanishkaa24 commented on #18
I would like to work on this project.

[2020-12-27 14:20] kanishkaa24 commented on #3
What is the required contribution in this issue ?

[2020-12-27 14:59] kanishkaa24 commented on #5
As I have one issue assigned, Can I work on this one too?

[2020-12-27 15:03] Tejas1510 commented on #5
This issue is completed

[2020-12-27 15:03] #5 closed

[2020-12-27 15:49] antaramunshi commented on #18
i would like to work on this project.Can you assign it to me?

[2020-12-27 16:04] Tejas1510 commented on #18
@antaramunshi go-ahead
This is a Level-5 issue
You have to create a Separate folder name HomePage and all your code inside it
It should be a full-fledged complete Website and should be responsive
The main designment Part lies with you

[2020-12-27 16:14] antaramunshi commented on #18
You mean the frontend right?And should i first send you the wireframe how it should look like?

[2020-12-27 16:15] kenkirito commented on #18
hii i am good in frontend can you assign me this task

[2020-12-27 16:16] kenkirito commented on #18
i would suggest you to make a issue for UI design so that we can decide good front end

[2020-12-27 16:21] Aniket31-coder commented on #14
Hey!
I would like to contribute to this issue! Is the modal only for the admin password and submit button?

[2020-12-27 16:23] Tejas1510 commented on #18
@antaramunshi yes first show wire frame so we can decide if some changes are required

[2020-12-27 16:25] Tejas1510 commented on #18
@kenkirito currently one person is assigned the issue
If the issue is not solved you will be the next one
Till then you can give a wireframe on how the website look

[2020-12-27 16:26] Tejas1510 commented on #14
@Aniket31-coder Go ahead
Main attention will be given to the design

[2020-12-27 16:28] Tejas1510 commented on #14
@Aniket31-coder till then of you any new modifications you may create a new issue and I will look into it

[2020-12-27 16:32] Aniket31-coder commented on #14
Okay, sure!

[2020-12-27 16:34] antaramunshi commented on #18
@Tejas1510 i think we need a logo as well maybe

[2020-12-27 16:40] Tejas1510 commented on #18
Do you want to create it or Should I create a separate issue

[2020-12-27 17:04] Tejas1510 opened #20 "Design a Logo for the Website"
Design a Logo that clearly depicts the meaning of the project

[2020-12-27 17:22] kanishkaa24 commented on #20
Please assign me this.

[2020-12-27 17:24] Aniket31-coder commented on #20
Hey,
I would love to create a logo!

[2020-12-27 17:53] Tejas1510 commented on #20
The issue is open to all
The best logo will be merged

[2020-12-27 17:58] kanishkaa24 commented on #20
![1](https://user-images.githubusercontent.com/71253790/103176837-24d4f900-489b-11eb-9b26-e7e6ed6763fe.png)
Design 1

[2020-12-27 17:58] kanishkaa24 commented on #20
![3](https://user-images.githubusercontent.com/71253790/103176850-374f3280-489b-11eb-9aff-5bd034f824bb.png)
Design 2

[2020-12-27 17:58] kanishkaa24 commented on #20
If you like any of these, lmk.

[2020-12-28 03:44] sakshikhachane commented on #9
Hi @Tejas151,
I would like to work on this issue. I have experience in making this kind of alert boxes. Kindly assign me this issue.

[2020-12-28 03:45] sakshikhachane commented on #12
Hi @Tejas1510 ,
I would like to work on this issue. I am good at backend as well as frontend. Please assign me this issue.

[2020-12-28 03:48] Tejas1510 commented on #12
Go ahead @sakshikhachane

[2020-12-28 03:48] Tejas1510 commented on #9
Go ahead @sakshikhachane

[2020-12-28 06:05] Aniket31-coder commented on #20
Hey!
I have made two logos one in Marathi and the other in English, please let me know, if any changes are required!
![Add a heading (1)](https://user-images.githubusercontent.com/55101835/103192971-b9257700-4900-11eb-928d-61a442920b25.png)
![Add a heading (2)](https://user-images.githubusercontent.com/55101835/103192975-bb87d100-4900-11eb-8a4f-2509b5eab7d1.png)

[2020-12-28 07:02] Tejas1510 commented on #18
@antaramunshi are you working on the issue or will I assign someone?

[2020-12-28 07:07] Tejas1510 commented on #20
@kanishkaa24 and @Aniket31-coder add your logo inside the assets folder which is inside the homepage folder by creating a new PR I will merge it

[2020-12-28 07:57] antaramunshi commented on #18
@Tejas1510 yeah, i'm working on it.you'll get it by tonight

[2020-12-28 08:03] Tejas1510 commented on #18
@antaramunshi Sure no worries
Take your time

[2020-12-28 08:06] kanishkaa24 commented on #20
@Tejas1510
I am not able to understand how to upload an image. Can you help me out here ?

[2020-12-28 08:46] Tejas1510 commented on #20
just have a folder name images add your image in that and img src-"" add your image URL
Now while creating a PR add your complete folder having image folder HTML file and css file

[2020-12-28 09:31] Tejas1510 opened #26 "[Open to All] Add your memory"
Add any of your memory
Image is a must while creating the memory and it should be something that signifies that
Spam Memory is not allowed
It should have a proper name, title, message, and Image else you won't we awarded any points
Go to Main Site and Create Your Memory: https://memoriestejastapas.netlify.app/

[2020-12-28 09:37] kanishkaa24 commented on #26
Do we need to add a memory to solve this issue ?

[2020-12-28 09:38] Tejas1510 commented on #26
Yes

[2020-12-28 09:48] kanishkaa24 commented on #20
@Tejas1510
Please add the labels to my pull request too.

[2020-12-28 10:13] kanishkaa24 commented on #26
@Tejas1510 Assign me please.

[2020-12-28 10:15] Tejas1510 commented on #26
It is open to all anyone can work
I won't be assigning anyone

[2020-12-28 10:30] SuNiL-Chau commented on #14
Hey @Tejas1510  kindly have a look the below design and provide your feedback on it
https://www.figma.com/file/CeSMTqLpk9idj2kVc4HrVB/aathavni-modal?node-id=0%3A1

[2020-12-28 10:35] Tejas1510 opened #28 "[Bug] Make button of form at center"
![image](https://user-images.githubusercontent.com/64543913/103208338-678fe300-4926-11eb-8023-40c9f278c819.png)
In mobile view, the buttons are not placed at the center

[2020-12-28 10:44] Tejas1510 commented on #14
@SuNiL-Chau It is showing file not exist

[2020-12-28 10:46] Tejas1510 commented on #14
Add a screenshot here

[2020-12-28 10:54] musavveer commented on #26
I would like to work on it.

[2020-12-28 10:56] musavveer commented on #28
Hi!
Please assign me this issue. I would like to give it a shot.

[2020-12-28 10:58] Tejas1510 commented on #28
Go for it @musavveer

[2020-12-28 11:22] SuNiL-Chau commented on #14
@Tejas1510 Here is the picture
![Frame 1](https://user-images.githubusercontent.com/46418190/103211010-1afbd600-492d-11eb-9559-a88d93ca313e.png)

[2020-12-28 11:54] Tejas1510 commented on #14
The design looks good
Just center the button
And use a different color option

[2020-12-28 11:59] SuNiL-Chau commented on #14
Okay sure

[2020-12-28 12:06] kanishkaa24 commented on #26
![Screenshot (128)](https://user-images.githubusercontent.com/71253790/103213275-2eaa3b00-4933-11eb-90b5-ebcd010ca4ab.png)
Done

[2020-12-28 12:18] musavveer commented on #20
Even I would like to contribute!

[2020-12-28 12:23] Tejas1510 commented on #26
Great !

[2020-12-28 12:24] kanishkaa24 commented on #18
Is there any change required? @Tejas1510

[2020-12-28 12:27] Tejas1510 commented on #18
We have got one home page and we will be taking some features of your website
I will be guiding you about the same
Currently I am engaged in some work
Till then you can work on other issue or create your own

[2020-12-28 12:29] kanishkaa24 commented on #18
So I won't be graded for this or the layout that I created earlier for Level 4?

[2020-12-28 12:32] Tejas1510 commented on #18
You will be

On Mon, 28 Dec 2020, 5:59 pm Kanishka Aggarwal, <notifications@github.com>
wrote:

[2020-12-28 12:40] SuNiL-Chau commented on #14
Hey @Tejas1510  have a look
![Frame 1](https://user-images.githubusercontent.com/46418190/103214957-f0634a80-4937-11eb-81d4-95569e88fa26.png)

[2020-12-28 12:44] Tejas1510 commented on #14
@SuNiL-Chau this is  awesome
Just one thing if this is responsive
You are good to create a Pr
I will merge it

[2020-12-28 15:33] shubhraagarwal commented on #28
Can I give this a try?

[2020-12-28 15:38] Tejas1510 commented on #28
Currently, a person is assigned if the issue is not solved then I will assign it to you

[2020-12-28 16:01] sakshikhachane commented on #9
@Tejas1510 I have few queries -
1. What message should be popped when a user tries to delete a message?
2. How will one know whether the person creating the memory is a user or admin?
3. What is the password of the admin that is used in order to delete memory?

[2020-12-28 16:06] Tejas1510 commented on #9
@sakshikhachane
Currently, we don't have an admin option so all memories are visible to all
So if memory is deleted successfully give a message: Memory Delete Successfully
If a password is incorrect give message: Incorrect Password, cannot delete memory

[2020-12-28 16:12] SuNiL-Chau commented on #14
Okay @Tejas1510 will do the code tom & check it then will send or as it is done :+1:

[2020-12-28 17:07] Ashuto7h opened #30 "Get a random memory on mail or app every week"
There should be a feature that enables the user to choose a platform like mail, whatsapp, telegram or discord where one of his random memories is sent.

This issue is particularly for mails.
New issues will be created for other platforms.

[2020-12-28 17:11] Tejas1510 commented on #30
go ahead @Ashuto7h

[2020-12-29 06:42] shrushti2000 commented on #6
I would like to work on this issue.
1.Whenever the user opens the application he/she will be shown the signin page and if he/she is not registered,we will redirect him to signup page.
2.After successfully signin ,we will redirect user to the main page/homepage wherein he will see memories created by other users and can like the memories created by other users. Also user can create his own memory a

[2020-12-29 07:49] Tejas1510 commented on #6
The idea is fantastic
Just keep in mind that user will be able to like all post but can update or delete his or her post only
Else the idea is good
It is a Level-5 idea
Go ahead @shrushti2000
If properly executed I may even increase the points

[2020-12-29 08:57] shrushti2000 commented on #6
yes sure.
I will try my best.

[2020-12-29 09:00] Tejas1510 commented on #6
Go ahead @shrushti2000

[2020-12-29 10:30] Tejas1510 commented on #3
@Sakshi-25 how is your work going with respect to sorting and filtering of card

[2020-12-29 11:47] antaramunshi commented on #13
i think we should add an issue regarding the like button since a user can add multiple likes and it shouldn't be so

[2020-12-29 12:01] Tejas1510 commented on #13
@antaramunshi Good observation
Currently we are adding a feature of authentication and then we will take issue into account
I will then assign it to you

[2020-12-29 12:54] SuNiL-Chau commented on #14
Hey, @Tejas1510  have a look at the changes & the file was actually mistakenly beautified.

[2020-12-29 16:29] #28 closed

[2020-12-30 09:58] Tejas1510 opened #33 "[Form Validation]"
Add a form validation such that the user cannot create a memory unless all the fields are completely field including the image
if even anyone is remaining then he should be promoted to fill that unless his memory will not be created

[2020-12-30 10:58] SuNiL-Chau commented on #14
Hey, @Tejas1510 I hope this issue is closed if it's closed then kindly assign this issue to me and close it thanks :)

[2020-12-30 11:15] sanjay270899 commented on #33
I would like to work on this.

[2020-12-30 11:18] #14 closed

[2020-12-30 11:18] sanjay270899 opened #34 "Discord Invitation Link in README.md is invalid."

[2020-12-30 11:18] Tejas1510 commented on #33
Go ahead @sanjay270899

[2020-12-30 15:29] Swapnil-Gaur commented on #20
Is the issue is still open.
I wanna contribute  in it, Can I @Tejas1510?

[2020-12-30 15:34] Tejas1510 commented on #20
Go ahead @Swapnil-Gaur

[2020-12-30 16:10] musavveer commented on #20
@Tejas1510 where should I save the logo?

[2020-12-30 16:14] Tejas1510 commented on #20
Inside the image folder which is inside the homepage folder

[2020-12-30 17:40] himanshu007-creator commented on #26
done!
![Picture1](https://user-images.githubusercontent.com/65963997/103370949-32d18680-4af4-11eb-83bd-0e5254c3974d.png)

[2020-12-31 07:21] Tejas1510 commented on #26
Good Work @himanshu007-creator

[2020-12-31 18:01] musavveer opened #35 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-12-31 22:11] Khimit opened #36 "background change"
@Tejas1510 can we **change existing background** to this as shown in pictures below:

![memo0](https://user-images.githubusercontent.com/46605529/103426856-8a4e2000-4be2-11eb-8aa1-b917c768be2a.PNG)
![memo1](https://user-images.githubusercontent.com/46605529/103426862-90dc9780-4be2-11eb-8875-273990e10cea.PNG)
![memo2](https://user-images.githubusercontent.com/46605529/103426866-976b0f00-4be2-11eb-8

[2021-01-01 04:28] Tejas1510 commented on #36
Go ahead @Khimit

[2021-01-01 05:17] Khimit commented on #36
@Tejas1510 please assign this to me and also add respective labels along with DWoC

[2021-01-01 06:51] #36 closed

[2021-01-01 09:42] Khimit opened #38 "header styling"
@Tejas1510 can we do **changes in header** like this:
![memo1](https://user-images.githubusercontent.com/46605529/103436593-50613600-4c43-11eb-9d01-c66e674d320e.PNG)
![Capture12](https://user-images.githubusercontent.com/46605529/103436595-5a833480-4c43-11eb-92b6-231f33c7aec1.PNG)

@Tejas1510 **I would like to work on this**..

[2021-01-01 10:00] Tejas1510 commented on #38
Go ahead @Khimit

[2021-01-01 18:02] Khimit commented on #38
I need to change code in *.jss2* class but not able to find where it is in
our project folder.
Can you plz help .
I got stuck at that.

On Fri, Jan 1, 2021, 3:31 PM Tejas1510 <notifications@github.com> wrote:

[2021-01-01 18:07] Tejas1510 commented on #38
I think so you want to add some styling which can be added in style.js file

[2021-01-01 20:31] Khimit commented on #38
I am able to style heading letters through style.js but not able to change
background colour in heading .

Please suggest something.

On Fri, Jan 1, 2021, 11:38 PM Tejas1510 <notifications@github.com> wrote:

[2021-01-02 09:28] chehak123 commented on #34
I would like to work on this under DWOC

[2021-01-02 09:52] luckykumarirai commented on #12
Hello @Tejas1510
I would like to work on this issue because  I have implemented the same thing in my project (heart icon present on the card if u click on the heart for adding the favorite then its turn into red).

[2021-01-02 09:58] Tejas1510 commented on #34
@chehak123 the issue is know solved
Thanks for asking
You can work on other issue

[2021-01-02 09:58] #34 closed

[2021-01-02 10:33] luckykumarirai commented on #13
Hello @Tejas1510
Run Backend and Frontend(React) with a single command for this little change need in the structure of the project.
it would help users.

[2021-01-02 10:46] luckykumarirai commented on #13
Add issue templates that help the developer to easily find the file or folder where implement their own idea and make fantastic.
According to issue templates, some steps needs to follow during the rise issue by the developer.

[2021-01-02 12:14] luckykumarirai opened #41 "Improve the design of button on create memory form"
# Improve the alignment of submit button and clear button on create memory form
![issue1](https://user-images.githubusercontent.com/59636719/103457086-203c9480-4d22-11eb-976d-7695804b4367.jpg)

[2021-01-02 13:11] pankajkumarbij opened #43 "Improve file input box design."
File Input box design should be like other above input fields.

![Screenshot of React App](https://user-images.githubusercontent.com/59636849/103458020-1a4ab180-4d2a-11eb-856f-97146939ef75.jpg)

[2021-01-02 13:23] pankajkumarbij commented on #43
I have sent a PR related to this issue.
Please review it.

[2021-01-02 13:50] #43 closed

[2021-01-02 13:52] Tejas1510 commented on #41
Thanks for the PR
@luckykumarirai you can't make a PR unless the issue is Assigned to you
Also, we want the button to be placed one below the other
So I am closing the pull request

[2021-01-02 13:52] #41 closed

[2021-01-02 13:54] Tejas1510 commented on #13
Go ahead @luckykumarirai

[2021-01-02 13:55] Tejas1510 commented on #13
Currently we are looking to have both frontend and backend separate so e don;t need this at this point of time
If required I Will surely assign you

[2021-01-02 14:06] Tejas1510 opened #45 "Improve the layout of Subscribe Mail form"
Improve the layout of Subscribe Mail Form to make it look Good

![image](https://user-images.githubusercontent.com/64543913/103458832-ca6fe880-4d31-11eb-82e4-fec4433a7752.png)

[2021-01-02 14:08] Khimit commented on #45
@Tejas1510 I would like to work on this

[2021-01-02 14:20] Tejas1510 commented on #45
@Khimit go ahead

[2021-01-02 14:55] kenkirito commented on #45
can you assign me this issue

[2021-01-02 14:59] Tejas1510 commented on #45
go ahead @kenkirito

[2021-01-02 16:20] luckykumarirai commented on #13
hello @Tejas1510
you have already an issue template.

[2021-01-02 16:26] Tejas1510 commented on #13
@luckykumarirai I thought which help user understand the folder structure
No worries I will close this issue

[2021-01-03 08:45] sakshikhachane commented on #9
@Tejas1510 Is this okay?

![React App - Google Chrome 03-01-2021 14_14_24](https://user-images.githubusercontent.com/53635792/103474874-0b1d3f80-4dce-11eb-8de8-290839a49727.png)

[2021-01-03 09:39] Tejas1510 commented on #9
This is good just place it at the top right corner and not the center

[2021-01-04 03:17] #9 closed

[2021-01-04 09:04] Swapnil-Gaur commented on #20
![c3b4b741-ba93-4e20-93f6-a7411f5f7639_200x200](https://user-images.githubusercontent.com/71397235/103518436-c4951700-4e99-11eb-8f1d-fdda1caa63af.png)

@Tejas1510  please check logo.

[2021-01-04 09:53] kenkirito commented on #45
![Uploading React App and 21 more pages - Personal - Microsoft​ Edge 04-01-2021 03_22_56 PM.png…]()

[2021-01-04 09:54] kenkirito commented on #45
![React App and 21 more pages - Personal - Microsoft​ Edge 04-01-2021 03_22_56 PM](https://user-images.githubusercontent.com/68530218/103522780-dcbc6480-4ea0-11eb-937e-31bc8dc49919.png)

[2021-01-04 10:09] Tejas1510 commented on #45
@kenkirito the design looks good but we are requiring the design of subscribe form to be different from the the already made form
just Make a different design and change its color and you are good to make a PR

[2021-01-04 10:10] kenkirito commented on #45
ok

[2021-01-04 10:44] kenkirito commented on #45
![React App and 21 more pages - Personal - Microsoft​ Edge 04-01-2021 04_13_46 PM](https://user-images.githubusercontent.com/68530218/103527153-eeedd100-4ea7-11eb-9fe5-0d2645073d9c.png)

[2021-01-04 10:45] kenkirito commented on #45
should i make a pr

[2021-01-04 10:48] Tejas1510 commented on #45
Great work @kenkirito
Go ahead make a PR

[2021-01-04 10:55] kenkirito commented on #45
ok

[2021-01-04 11:12] kenkirito commented on #45
hii @Tejas1510  cheack my pr

[2021-01-04 12:33] #30 closed

[2021-01-04 14:54] Khimit commented on #38
@Tejas1510 please review my PR #46

[2021-01-04 17:35] #38 closed

[2021-01-05 08:08] #20 closed

[2021-01-06 05:04] himanshu007-creator commented on #26
mam now we have to send a PULL REQUEST with ss of this, or we will be awarded points automatically?

[2021-01-06 05:12] Tejas1510 commented on #26
You will get it directly @himanshu007-creator
and it is man not mam  😅

[2021-01-06 05:13] himanshu007-creator commented on #26
Okay @Tejas1510  man!😂👍🏽

[2021-01-06 07:01] koolgax99 commented on #4
@kenkirito can I help you on this?

[2021-01-06 07:11] chait04 commented on #45
can i redesign it.. please asign me to do so

[2021-01-06 07:14] chait04 commented on #6
hey @shrushti2000 if u need any help with this let me know..
or u can assign me this issue

[2021-01-06 07:16] Tejas1510 commented on #6
Go ahead @chait04

[2021-01-06 07:18] koolgax99 opened #50 "Concurrently running two servers at once"
### **Current Status**
Now to run the application we go to the client and server folder separately and then run both the servers in two different terminals. This takes up a lot of time and also newbies find it difficult to follow this instruction.

### **After adding the feature**
After adding this feature, we can just run the server folder's server which will concurrently run both the frontend an

[2021-01-06 07:19] koolgax99 commented on #50
@Tejas1510 can you please assign me this issue if you like the feature. I already started working on this.

[2021-01-06 07:20] Tejas1510 commented on #45
@chait04 currently we are having a good design
You can put your design here and we will check if we can integrate that

[2021-01-06 07:34] chait04 commented on #18
assign me this issue no one i working on that.. @Tejas1510 u should remove assignees if they cant respond in 7 days

[2021-01-06 07:38] Tejas1510 commented on #50
All the member of the group are new to MERN stack so we keeping it quiet simple
Run frontend and then run the server
Also for the any frontend issue you don't need to run backend as it is hosted on heroku and up and running
So lets keep it simple for the time being
If we require this at the end I will assign you

[2021-01-06 07:38] #50 closed

[2021-01-06 07:44] Tejas1510 commented on #18
@chait04 Go ahead

[2021-01-06 07:50] koolgax99 commented on #50
ok @Tejas1510 got your point. Thankyou for explaining it.

[2021-01-06 11:55] sanjay270899 commented on #33
You can now close this issue if you wish.

[2021-01-06 11:58] #33 closed

[2021-01-06 12:02] chait04 commented on #18
@Tejas1510 means i have to put the all logic which is in app component to the the Home page component.. is this what u want

[2021-01-06 12:27] chait04 opened #51 "Toggle details"
<strong>Message should be hidden initially </strong

![Screenshot (176)](https://user-images.githubusercontent.com/59140343/103768439-82f69e80-5048-11eb-9d54-3df91dd1be7b.png)

[2021-01-06 12:41] Tejas1510 commented on #18
Just go through the description
You have to create a website for the project having components like navbar, fotter , features of the projects and other things which are present in a standard website

[2021-01-06 15:57] shubhraagarwal commented on #51
I would like to give a try on this issue. Kindly assign it to me.

[2021-01-06 16:02] shubhraagarwal opened #52 "Title of the website"
The title of the website shows react app instead of Athavani and the logo is also the react logo.
![image](https://user-images.githubusercontent.com/67220475/103789998-a9c3cd80-5066-11eb-899a-8ba19396f782.png)

I would like to change this, please assign me the issue.
Thanks

[2021-01-06 16:03] Tejas1510 commented on #51
@chait04 you have already 2 issue assigned so I would assign it to @shubhraagarwal

[2021-01-06 16:03] Tejas1510 commented on #51
Go ahead @shubhraagarwal

[2021-01-06 16:10] shubhraagarwal commented on #26
Added a memory!!!
How are the points going to be assigned for this??
![image](https://user-images.githubusercontent.com/67220475/103790895-c9a7c100-5067-11eb-85e4-cea270b755ff.png)

[2021-01-06 16:16] shubhraagarwal commented on #51
Thank you. How much time do I have to solve this issue?

[2021-01-06 16:19] #26 closed

[2021-01-06 16:20] Tejas1510 commented on #51
At the earliest

[2021-01-06 16:27] shubhraagarwal commented on #51
Okay, will do it by tomorrow noon

[2021-01-06 17:17] musavveer commented on #26
@Tejas1510 Why did you close this?

[2021-01-06 17:29] sanjay270899 commented on #4
I would like to work on this.

[2021-01-06 17:47] Tejas1510 commented on #26
It is not having any points as you just needed to add very small information in card and according to organiser it can be considered as a contribution

[2021-01-07 03:07] shubhraagarwal commented on #51
This issues dosent have the DWOC tag.  Can you please add that?

[2021-01-07 06:31] Tejas1510 commented on #52
go ahead @shubhraagarwal

[2021-01-07 08:24] vedikaag99 commented on #13
@Tejas1510 I think the website requires a proper logo as well that can also be used as favicon. I can design it if you want.

[2021-01-07 08:39] vedikaag99 commented on #18
@Tejas1510 Hey, Can I work on this issue?

[2021-01-07 08:43] Tejas1510 commented on #13
@vedikaag99 Thanks for the issue
We already have many logos created so we don't one

[2021-01-07 08:43] #13 closed

[2021-01-07 08:58] chait04 commented on #18
@vedikaag99 im already half way now.. im working on it

[2021-01-07 09:33] sanjay270899 opened #54 "Order of the Posts"
**Problem:**
Currently, when a user creates a new post then, it will be shown at the bottom.

**Solution:**
By default, new posts should be shown at the top.

**Additional Feature:**
We can also add the sort feature.

**Would you like to work on this issue?**
Yes

[2021-01-07 09:51] Tejas1510 commented on #54
Go ahead @sanjay270899

[2021-01-07 11:53] sanjay270899 commented on #12
I would Like to work on this if @sakshikhachane is facing any difficulty.

[2021-01-07 12:17] #54 closed

[2021-01-07 12:22] sanjay270899 commented on #12
@Tejas1510 If you allow me then, should I start working on this?

[2021-01-07 12:32] Tejas1510 commented on #12
Go ahead @sanjay270899
Also you have to add a sorting feature where a category will be present of favorite so all card with favorite will be shown

[2021-01-07 12:35] sanjay270899 commented on #12
Sure.

[2021-01-07 12:37] sanjay270899 commented on #12
Where should I keep the heart icon?

[2021-01-07 13:01] Tejas1510 commented on #12
to the right of like button

[2021-01-07 13:41] sanjay270899 commented on #6
I would Like to work on this.

[2021-01-07 13:42] sanjay270899 commented on #12
@Tejas1510 Before this, I will need the Authentication part. Should I implement that issue(#6 ) also?

[2021-01-07 15:32] Tejas1510 commented on #6
Go ahead @sanjay270899

[2021-01-07 18:38] kenkirito commented on #4
@koolgax99  yes u can help

[2021-01-07 18:39] kenkirito commented on #4
https://github.com/Tejas1510/Athavani/pull/10#issue-545743652

[2021-01-07 18:46] koolgax99 commented on #4
Okay I will check it and help you

[2021-01-08 00:44] #52 closed

[2021-01-08 16:06] kenkirito commented on #4
@koolgax99  have u solve the bug because i am free now so I will be trying to solve the issue

[2021-01-08 16:15] koolgax99 commented on #4
Yes @kenkirito I am committing it by EOD

[2021-01-08 16:19] kenkirito commented on #4
ok man @koolgax99  see the backend.

[2021-01-08 16:24] kenkirito commented on #4
@Tejas1510  hey @kenkirito  and  @koolgax99  we are working together in this issue

[2021-01-08 17:02] koolgax99 commented on #4
@kenkirito i fixed the problem. however the dislike will not work in the previous posts because the databse is not updated and we do not have the acces to update it.

The dislike button will be working fine on the new posts that will be created after the pull request is merged.

thankyou @kenkirito for giving this opportunity to help.

[2021-01-08 17:14] Tejas1510 commented on #4
Great Work Guys
This is the real meaning of the open-source
Thanks for contributing in Team

[2021-01-08 17:24] kenkirito commented on #4
@koolgax99  great work man

[2021-01-08 17:54] koolgax99 commented on #4
Thankyou @kenkirito  and @Tejas1510 for giving me this opportunit.

[2021-01-09 15:12] Tejas1510 opened #59 "Add all contributors in Readme File"
![image](https://user-images.githubusercontent.com/64543913/104095133-3070e880-52bb-11eb-95d3-79fc33d94f55.png)

Add the following in such tabular method

[2021-01-09 15:48] sanjay270899 commented on #59
I would like to work on this.

[2021-01-09 18:04] akrish4 opened #60 "Integrate Welcome and Greeting Bot"
**Is your feature request related to a problem? Please describe.**
I can make a welcome and greeting bot which will welcome all users who opens a issue and pull request for the first time
using a config.yml file
Kindly do assign me

If you feel this is a great idea!
Please assign it to me.
**Describe the solution you'd like**

using a config.yml file , I can make it , and I am experienced in it

*

[2021-01-11 13:14] Ashuto7h opened #62 "Mail data rendering in html"
currently the mails we get are simply json objects. render that in HTML.

assign this issue to me.

[2021-01-11 13:21] Ashuto7h opened #63 "[Fix] Create memory form"
Currently, the create memory form is not completely responsive.
on reducing the window size, at some point, it breaks.

The text fields should remain inside the form div on collapsing the window.

**Screenshots**
![image](https://user-images.githubusercontent.com/53266261/104187161-70f86f80-543d-11eb-8700-0246cf103f7e.png)

The border of Text Fields doesn't match outline border.

**Screenshots**
!

[2021-01-11 19:33] akrish4 opened #64 "Contributors.md file"
Hi @Tejas1510

I would like to add a contributors file which consists of all contributors along with their profile image and name in tabular format

Let me know if you are interested in this

Kindly issue me and also pls do a add a great label to motivate myself and make my contribution valuable for me

[2021-01-12 07:49] kenkirito commented on #4
hi @Tejas1510  I haven't received pts for this issue in Dwoc

[2021-01-12 09:59] sanjay270899 commented on #59
You can close this issue if you wish.

[2021-01-12 10:22] #59 closed

[2021-01-12 10:23] Tejas1510 commented on #64
@akrish4 the issue is already solved
You can work on another issue
BTW thanks for creating the issue

[2021-01-12 10:25] #64 closed

[2021-01-12 10:25] #51 closed

[2021-01-12 10:35] #45 closed

[2021-01-12 10:36] Tejas1510 commented on #6
@sanjay270899 How is the Progress

[2021-01-12 11:05] Aarush-Goyal commented on #63
I would like to work on it @Ashuto7h

[2021-01-12 11:40] Aarush-Goyal opened #65 "[Suggestion] Using nodemon as dev dependency & updating server script to `node index.js`"

[2021-01-12 13:32] kenkirito commented on #12
@Tejas1510 assign me this

[2021-01-12 13:54] kenkirito commented on #6
@Tejas1510 can I take this issue

[2021-01-12 14:26] Ashuto7h commented on #62
There are some problems that I am unable to solve.
* The cursive font looks different on mails. maybe it's an issue with mobile fonts.
* The texts are not getting positioned well in the mail as I wanted them.
![Screenshot_20210112_194708](https://user-images.githubusercontent.com/53266261/104326852-327fb500-5510-11eb-826b-48932c1924ac.jpg)

[2021-01-12 14:27] Ashuto7h commented on #62
should i make a pull request?

[2021-01-12 14:28] Tejas1510 commented on #62
Go ahead this looks Good To me

[2021-01-12 15:03] Tejas1510 commented on #65
Can you explain a bit more

[2021-01-12 16:33] Aarush-Goyal commented on #65
In package.json file. change file like this
[code]
and then execute npm run start-dev for running the development server

[2021-01-12 16:36] Aarush-Goyal commented on #65
This article may help :
https://www.freecodecamp.org/news/you-should-never-ever-run-directly-against-node-js-in-production-maybe-7fdfaed51ec6/

[2021-01-13 06:32] sanjay270899 commented on #6
@Tejas1510, I will send 2 PRs for both the issues by tomorrow.

[2021-01-13 14:52] kanishkaa24 commented on #3
Is there any contribution required on this issue? @Tejas1510

[2021-01-13 14:54] kanishkaa24 commented on #60
Can I work on this issue?

[2021-01-13 15:05] koolgax99 commented on #4
Even I will get a point right? @Tejas1510

[2021-01-13 15:11] akrish4 commented on #60
kindly do check other unassigned issues @kanishkaa24

[2021-01-13 15:11] akrish4 commented on #60
I have opened a pr for the same @Tejas1510

[2021-01-13 15:11] akrish4 commented on #60
#67  PR

[2021-01-13 15:59] #60 closed

[2021-01-13 16:43] #6 closed

[2021-01-13 16:47] Tejas1510 commented on #4
@koolgax99 @kenkirito I have added the appropriate label on the merged so you should get points

[2021-01-13 16:47] #4 closed

[2021-01-13 16:47] Tejas1510 commented on #12
@kenkirito go ahead

[2021-01-13 16:48] sanjay270899 opened #69 "Change the whole code according to the new Authentication Code."
As now the **post** model is changed after adding authentication, we will now have to change the code in the application.
Refer to issue #6

[2021-01-13 16:50] kenkirito commented on #12
Thanks @Tejas1510 I will try to submit pr in the morning

[2021-01-13 16:50] #62 closed

[2021-01-13 16:54] sanjay270899 commented on #69
I have started working.

[2021-01-14 09:44] himanshu007-creator opened #70 "Automating webpage"
I would like to create a script that could be run in CLI and open the website.
Please add DWOC label to it and assigne me this issue.

[2021-01-14 10:58] Tejas1510 commented on #70
Can you explain its need
We already have our website hosted

[2021-01-15 09:47] sanjay270899 commented on #69
@Tejas1510 you can close this issue if you wish.

[2021-01-15 10:33] Tejas1510 opened #73 "Logout Issue"
Add a logout button on the home screen and it should log out the user from the current session

[2021-01-15 10:37] sanjay270899 commented on #73
I would like to work on this.

[2021-01-15 10:37] Tejas1510 commented on #73
Go ahead @sanjay270899

[2021-01-16 05:04] #73 closed

[2021-01-16 10:50] kenkirito commented on #12
@Tejas1510 i am also done with the issue should I also make a pr

[2021-01-17 11:21] #69 closed

[2021-01-19 07:44] #65 closed

[2021-01-19 12:05] Ashuto7h opened #75 "[feature] forget password"
Implement a solution for retrieving the password, in case if somebody forgets his password.

[2021-01-19 12:23] sanjay270899 commented on #75
@Ashuto7h Sure.

@Tejas1510 Should I build this feature?

[2021-01-19 13:23] Tejas1510 commented on #75
@Ashuto7h go ahead

[2021-01-19 13:24] Tejas1510 commented on #75
@sanjay270899 since @Ashuto7h has come with the issue he will be preferred first

[2021-01-20 15:07] Tejas1510 commented on #75
@Ashuto7h will you be working on the issue or should I assign @sanjay270899

[2021-01-21 11:24] Ashuto7h commented on #75
You can assign it to @sanjay270899

[2021-01-21 11:37] Tejas1510 commented on #75
Go ahead @sanjay270899

[2021-01-22 17:40] kenkirito commented on #18
@Tejas1510 is the issue still open

[2021-01-22 17:46] Tejas1510 commented on #18
NO

[2021-01-22 17:46] #18 closed

[2021-01-22 17:47] #12 closed

[2021-01-22 21:14] nehaparmar99 opened #76 "Responsiveness of the landing page."
**Describe the bug**
The create a memory form and the subscription div aren't responsive.

**Expected behavior**
Should resize as per screen size.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot_20210123-023725__01](https://user-images.githubusercontent.com/48972593/105547376-70f14d00-5d24-11eb-868b-89fc2d9fc0bc.jpg)
![Screenshot_20210123-023731__01](http

[2021-01-22 21:15] nehaparmar99 commented on #76
I'd like to work on it under DWOC

[2021-01-22 21:15] nehaparmar99 commented on #63
I'd like to work on it.

[2021-01-24 13:23] Tejas1510 opened #77 "Add a Comment Section"
Add a section where the user can comment on someone memory

[2021-01-24 13:25] Tejas1510 opened #78 "Create User Profile Section"
As Instagram has a user profile section where the user has a particular bio, photo and all his post are listed there
Every User will have its own Profile Section

[2021-01-25 03:59] shubhraagarwal opened #79 "Wrong title and Logo"
**Describe the bug**
The Title of the Website still shows React App and the logo is still the default ReactJS logo. I would like to change the title and update the logo. Kindly assign the issue to me.
![image](https://user-images.githubusercontent.com/67220475/105659833-ba41c800-5eef-11eb-8070-6f8c5a2f2443.png)
I would like to work on this issue under DWOC

[2021-01-25 04:22] sanjay270899 commented on #78
I would Like to work on this.

[2021-01-25 04:23] sanjay270899 commented on #77
I would Like to work on this.

[2021-01-25 05:00] Tejas1510 commented on #78
Go ahead @sanjay270899

[2021-01-25 05:05] Tejas1510 commented on #77
@sanjay270899 first complete the user profile part then I will assign it to you

[2021-01-25 12:56] kenkirito commented on #77
can i work on this issue

[2021-01-25 13:14] Tejas1510 commented on #77
This issue can only be done after the USer profile section is implemented

[2021-01-28 12:03] Ashuto7h commented on #63
Why this issue is still not assigned to anyone?

[2021-01-28 12:42] Tejas1510 commented on #63
@Ashuto7h the screen looks good on my side
![image](https://user-images.githubusercontent.com/64543913/106140104-52f87200-6194-11eb-9572-42d170ae25df.png)

[2021-01-28 12:42] Tejas1510 commented on #63
It is totally responive

[2021-01-29 07:43] himanshu007-creator commented on #70
yes sure, i will create a bash script , running which website will automatically open in web browser.
It will be helpful to those using  linux. It will enable users to open your website without even opening web browser. Run the script and wham!!!
website opens.
If you find it goot to go, assigne me this issue and add "DWOC and level-3 tags

[2021-01-29 08:22] Tejas1510 commented on #70
Go ahead @himanshu007-creator

[2021-01-29 10:42] sanjay270899 commented on #79
@shubhraagarwal title of the website is correct.
https://github.com/Tejas1510/Athavani/blob/8cd98cf51d380d522a14d49520341b2db2f1336f/client/public/index.html#L28
It was corrected in Issue #52 by you only. Changes are not yet pushed to the netlify. So it is showing `React App`.

[2021-01-29 10:44] shubhraagarwal commented on #79
Ook

[2021-01-29 10:51] himanshu007-creator commented on #70
done sir https://github.com/Tejas1510/Athavani/pull/83

[2021-01-30 03:18] #79 closed

[2021-02-01 15:56] #78 closed

[2021-02-01 15:59] Tejas1510 opened #85 "Take user image as input while signup"
Currently when user register we are not taking image as input so we cannot display it in the user profile section

[2021-02-01 16:13] sanjay270899 commented on #85
I would Like to work on this.

[2021-02-01 16:19] sanjay270899 commented on #85
@Tejas1510 By the way I have keep this in my mind then only I have implemented Profile Section. I have added the default attribute to profile image of user. So for user without profile image, I have shown below default image.
![image](https://user-images.githubusercontent.com/43892590/106486168-5e6ed480-64d7-11eb-8563-8ba27ae2b749.png)

[2021-02-01 17:15] Tejas1510 commented on #85
Ya that a good idea @sanjay270899
The entered image should be stored as base64 image

[2021-02-01 17:15] Tejas1510 commented on #77
Go ahead @kenkirito

[2021-02-01 17:37] Tejas1510 commented on #77
When a user comments his corresponding image and name should be shown

[2021-02-01 17:37] Tejas1510 commented on #77
You can refer to Instagram for a better understanding

[2021-02-01 17:47] Tejas1510 commented on #85
See I want that when user sign up take image as a input and display that image as the profile pic in his bio

[2021-02-01 17:51] sanjay270899 commented on #85
Like in GitHub, we don't add profile pic when signing. There is an option to change profile after creating account.
So keeping this in mind, I have made Profile image as default. Because not everyone like to put their profile picture while creating account.

Though if want to add option while Sign Up, I can implement this.

[2021-02-01 17:52] Tejas1510 commented on #85
So user can change his photo at run time when he updates his profile

[2021-02-01 17:55] sanjay270899 commented on #85
@Tejas1510 Yes. There is an option to update or change Profile Image in edit mode.

![image](https://user-images.githubusercontent.com/43892590/106497931-afd19080-64e4-11eb-9194-88fa97e6b06c.png)

[2021-02-01 18:12] Tejas1510 commented on #85
Ok good
So i will close this issue

[2021-02-01 18:20] #85 closed

[2021-02-02 12:25] sanjay270899 commented on #75
@Tejas1510 You can close this issue if you wish.

[2021-02-02 12:49] #75 closed

[2021-02-03 14:15] kenkirito commented on #77
@Tejas1510 working on it

[2021-02-05 12:37] sanjay270899 opened #86 "Add 404 Page not Found Page"
This page will be shown when no route is hit. Currently, if no route is hit, then a empty page with just header is been shown.

**Describe the solution you'd like**
I would Like to create a 404 Page not found, which will redirect users back to home page.

[2021-02-05 15:14] Tejas1510 commented on #86
Go ahead @sanjay270899

[2021-02-08 14:21] #86 closed

[2021-02-09 17:44] Tejas1510 commented on #77
@kenkirito what is the progress?

[2021-02-09 19:12] sanjay270899 opened #88 "Feature: Option to delete own post [User]"
For now, only admin can delete the post.

I want to implement a feature where user can also delete their own post.

[2021-02-10 05:28] Tejas1510 commented on #88
Go ahead @sanjay270899
But don't remove any of the admin functionality
Admin can delete any post he wants to

[2021-02-11 14:39] #88 closed

[2021-02-14 08:55] m-code12 opened #90 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
<img src="https:/

[2021-02-14 08:56] m-code12 commented on #90
@Tejas1510 I would like to implement this as a part of DWOC.

[2021-02-14 09:04] Tejas1510 commented on #90
Go ahead @m-code12

[2021-02-15 07:00] Vrushti24 opened #91 "License"
**Is your feature request related to a problem? Please describe.**
Here there is no license added

**Describe the solution you'd like**
I can add MIT license .

**Additional context**
Each and every project have license so this should also have

[2021-02-15 07:01] Vrushti24 commented on #91
I can work on this please assign me

[2021-02-15 07:58] Tejas1510 commented on #91
Go ahead @Vrushti24

[2021-02-15 08:15] Vrushti24 commented on #91
PR #92  done please check @Tejas1510

[2021-02-16 06:42] #90 closed

[2021-02-18 09:08] sanjay270899 commented on #77
@Tejas1510 I would Like to work on this.

[2021-02-18 09:17] Tejas1510 commented on #77
Go ahead @sanjay270899

[2021-02-18 14:43] sanjay270899 opened #94 "Post Toggle Button Bug"
**Describe the bug**
Toggle Button for Posts is not working perfectly. It is working only for first post.

**Expected behavior**
It should work for all the posts.

I would Like to fix it.

[2021-02-20 11:07] sanjay270899 opened #96 "Feature: Sign Up Email Verification"
Currently, user can create account with any email id.

So, I would like to add verification, so that user can create their account only with verified email.

I would Like to work on this.

[2021-02-20 14:37] Tejas1510 commented on #96
Go ahead @sanjay270899

[2021-02-21 13:58] #77 closed

[2021-02-21 13:59] Tejas1510 commented on #94
Go ahead @sanjay270899
I would suggest to remove the toggle button entirely from every card

[2021-02-21 15:27] sanjay270899 opened #98 "Bug: Subscribe Mail not Working"
Subscribe Mail is not Working due to PR #48

I would Like to fix this.

[2021-02-21 22:03] ashuvssut commented on #96
I think DWoC 'feature' PRs get `level4` tags

`level3` tag is for bugfixes

[2021-02-21 22:15] ashuvssut commented on #96
DWoC PRs for 'feature'  get `level4` tags

`level3` tag is for bugfixes

[2021-02-24 16:19] #94 closed

[2021-02-24 16:21] #96 closed

[2021-02-25 12:33] #98 closed

[2021-02-25 13:04] sanjay270899 opened #101 "Loader"
Currently if we click on button, like clicking on signup button, user doesn't get to know whether they has clicked the button or not, then after getting response from API, result will be shown.

It will be better to show a loading animation, when there is some delay for getting response on button click.

I would Like to add this.

I will add Loader in every button, where API is been called on butt

[2021-02-25 15:25] #101 closed

[2021-02-28 05:20] #63 closed

[2021-03-01 10:59] sukhpreet-singh1 commented on #76
can you please assign me this issue?

[2021-03-01 11:16] Tejas1510 commented on #76
@sukhpreet-singh1 thanks for the intrest
The issue is solved know
If the project has more issue we would surely contact you

[2021-03-01 11:16] #76 closed

[2021-03-01 15:27] sukhpreet-singh1 commented on #76
yeah !! sure

[2021-03-08 22:50] sanjay270899 opened #103 "Update README"
- Update the contributors Table.
  - Remove tabular table and add image.  ([Refer this](https://remarkablemark.org/blog/2019/10/17/github-contributors-readme/))
- Update screenshots of website. As they are the screenshots of old version of website.
- Add `GSSOC` as Open Source Program.

[2021-03-09 05:08] mitalirs commented on #103
Hello Sir, Could I try working on this as a participant for GSSoC'21?

[2021-03-09 05:13] Tejas1510 commented on #103
Go ahead @mitalirs

[2021-03-09 08:35] sanjay270899 commented on #91
Closing this issue.

[2021-03-09 08:35] #91 closed

[2021-03-09 08:37] sanjay270899 commented on #35
This was a test issue. Sorry for confusion. I will be going to add some more issues soon.

[2021-03-09 08:39] #35 closed

[2021-03-09 11:11] #70 closed

[2021-03-09 12:38] #3 closed

[2021-03-09 12:41] ranasauravsingh opened #104 "Improve Background Image of Login Page"
- Want to Improve the background image of login page.
- It will highlight the main project's idea so that anybody can get the motive of the project.

Hello Sir, can you give me the permission to try this issue as I'm working as a GSSoC'21 participant...?

[2021-03-09 12:49] sanjay270899 opened #105 "New Layout"
We need to improve the layout of our website.

- This is the wireframe of present website
![image](https://user-images.githubusercontent.com/43892590/110472492-71db1400-8103-11eb-8b1b-4c8901c671cd.png)

- This is the new suggested wireframe from my side. (You can come with better wireframe if you have)
![image](https://user-images.githubusercontent.com/43892590/110472508-769fc800-8103-11eb-9557-6d

[2021-03-09 12:53] ranasauravsingh commented on #104
Yes sir...

[2021-03-09 12:57] sanjay270899 commented on #104
@ranasauravsingh This is a general background. If you will change here then, it will be changed for whole application.

[2021-03-09 13:04] ranasauravsingh commented on #104
Sir, I think the change will be in the index.css file of src folder and I'll try in my local server. I think it won't harm the whole application.

[2021-03-09 13:15] ranasauravsingh commented on #104
Sure sir... Thank you sir...

[2021-03-09 13:44] ashishnagpal2498 opened #106 "Integrate welcome bot"
Add welcome bot for the project, whenever a new PR or an issue is raised.
Reference - https://github.com/apps/welcome

[2021-03-09 14:12] sanjay270899 commented on #106
@itsIapetus Go ahead!

[2021-03-09 16:18] ranasauravsingh commented on #104
@sanjay270899 sir I had generated the pull req... could just have a look at it... Anything needed to modify...?

[2021-03-09 17:20] sanjay270899 commented on #104
Yes. I have given some feedback. Go through it.

[2021-03-09 18:24] sanjay270899 commented on #104
@ranasauravsingh Also, from next time, send PR only after you have been assigned to the issue.

[2021-03-09 18:24] Tejas1510 commented on #104
@AasthaGoyalgit you can also come with your design
I will advise designing some layout with adobe or a related app first before coding and if the design is approved you can start on the coding part

[2021-03-10 07:35] sayna3311 opened #108 "Header/Navbar of this project is pretty dull."
I am a GSSoC'21 participant and I would like to modify and improve the header/navbar including the icon because this looks quite familiar to a project on Youtube. Please assign this to me  : ).

[2021-03-10 08:33] sanjay270899 commented on #108
@sayna3311 Just for conformation, can you please send here an image of current Header of our website?

[2021-03-10 11:14] AasthaGoyalgit commented on #104
Can i work on this issue?

On Wed, Mar 10, 2021, 16:27 Sauravsingh Rana <notifications@github.com>
wrote:

[2021-03-10 11:17] ranasauravsingh commented on #104
Yes you can... You are already assigned to the issue.... @AasthaGoyalgit All the best... :)

[2021-03-10 12:53] Tejas1510 commented on #104
@ranasauravsingh you can surely work on it
Just keep the point given by mentor in mind and do the required changes and you are good to go

[2021-03-10 13:55] ranasauravsingh commented on #104
Sure sir, Thank you I'll keep that in mind but as of now the issue is assigned @AasthaGoyalgit so I want her to give a shot and if so then i'll ask to the mentor for assigning me the issue for the same.

[2021-03-10 13:58] abhishek7997 commented on #105
Please assign this issue to me. I will try my best to solve this issue.

[2021-03-10 14:29] HarshitPandey251 commented on #105
@sanjay270899 Please assing to me. As I have done in many webpage

[2021-03-10 14:36] Tejas1510 commented on #105
@HarshitPandey251 if we don't get PR from the assigned person with next 3 days we will assign the issue to you

[2021-03-10 17:33] Pranjal-2001 commented on #108
Can I work on this issue?

[2021-03-10 17:36] abhishek7997 commented on #105
@sanjay270899
How do I sign in or sign up? Both are not working. How do I access the memories page?

[2021-03-10 17:57] AmeyaJain-25 opened #111 "Cannot signup"
I cannot signup or signin.
When I go for signup, it says user already exists although no email verification or nothing.
When I go for password reset, it says no email exists.

Please help me with this or if possible, provide dummy credentials to login.

[2021-03-11 04:02] #106 closed

[2021-03-11 04:37] itsIapetus opened #112 "Add GSSoC in the Readme"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I noticed only Devscript Winter of code is in the readme, I would like to add GSSoC logo too.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Addition of GSSoC logo in the readme under Open

[2021-03-11 04:38] itsIapetus commented on #112
Could you assign it to me under gssoc'21, thank you.

[2021-03-11 05:30] Tejas1510 commented on #111
@AmeyaJain-25 There is some issue and @sanjay270899 is working on it and the issue will be resolved soon
Till then you can log in with these dummy credentials
email : refce25@gmail.com
password : 1234567

[2021-03-11 06:04] AmeyaJain-25 commented on #111
Thanks @Tejas1510

[2021-03-11 06:17] abhishek7997 commented on #111
@AmeyaJain-25
Is the login working?
On my clone it is not working.

[2021-03-11 06:37] Tejas1510 commented on #111
@AmeyaJain-25 You have to add a .env file which will have a mongoose url
You can create your mongoose URL by goging to mongoDB/Atlas
Just go through the .env.example file

[2021-03-11 06:41] abhishek7997 commented on #111
@Tejas1510
I will try this, then get back to you.

[2021-03-11 06:47] abhishek7997 commented on #111
@Tejas1510 Sir, please give an example of a working .env file

[2021-03-11 06:53] abhishek7997 commented on #111
@Tejas1510 is this .env file correct?

PORT = "27017"
CONNECTION_URL = "mongodb://localhost:27017/athavani"
MAIL = "refce25@gmail.com"
PASS = "1234567"
JWT_KEY = "1234567"
RESET_PASSWORD_JWT_KEY = "1234567"
CLIENT_URL = "http://localhost:3000"

[2021-03-11 07:18] Oviyabalamurugan commented on #108
I am a GSSoC'21 participant.Header and footer for this website could improve a lot.With footer improvement like adding copyrights in the center and adding basic icons like facebook linkedin twitter whatsapp and instagram would be really attractive.In the darkmode option could be moved to the header itself it seems better in that way so not to confuse users.

[2021-03-11 07:20] AmeyaJain-25 commented on #111
Same here.
I'm also not able to signup in local server. Getting issue of 'Invalid Login, Username and password not accepted

[2021-03-11 07:22] Priyanka7011 commented on #108
I am a GSSOC 2021 participant.
I would love to work on this issue .Please assign me this.
Thank You

[2021-03-11 07:26] mohammedjameel24 commented on #105
assign it to me under gssoc

[2021-03-11 07:34] Priyanka7011 opened #113 "Design of Sign In/Sign up form can be improved"
hey!
I am a GSSOC 2021 participant.
I can improve the design of the sign in/sign up form . I can make it look better by using proper layout and gradient for the form. It will surely enhance the look of the website.
Also on smaller screen devices there's no margin from right .I can fix this issue and make it responsive for smaller screen devices.

Please assign me this issue. I would love to work o

[2021-03-11 07:57] sayna3311 commented on #108
@sanjay270899
![image](https://user-images.githubusercontent.com/67572440/110754117-71f72300-826d-11eb-81a5-fc1f8b791d80.png)
It's like this ig.
If approved,  I would like to work on this issue I created.

[2021-03-11 08:01] AasthaGoyalgit commented on #104
Thanks @Tejas1510  for assigning me . I'll try my level best.

Can u please let me know, i can change both background images?

[2021-03-11 08:27] Oviyabalamurugan commented on #108
![Athavani](https://user-images.githubusercontent.com/55582676/110757494-74f41280-8271-11eb-89e8-6f4988a4cb6f.png)
I would like to work upon the footer part of this page which we can use it as a footer for all the linked pages.

[2021-03-11 08:40] PragatiBhat commented on #103
Can you assign me this task as GSSOC participant?

[2021-03-11 09:25] Tejas1510 commented on #104
Yes you can
I would suggest instead of a background you can create a proper layout which will go well with other components

[2021-03-11 09:42] sanjay270899 commented on #112
@itsIapetus Issue already exist. Issue #103

[2021-03-11 09:45] sanjay270899 commented on #111
@AmeyaJain-25 @abhishek7997 @sayna3311 @mitalirs

Hello Everyone! Sorry for inconvenience. I will update the code in some hours.

If you all want a short session for setting up our repo, then I will be happy to take it.
Do you all want a short session for setting this repo on your local machine?

[2021-03-11 10:00] AasthaGoyalgit commented on #104
Ok I'll try @Tejas1510

[2021-03-11 10:05] itsIapetus commented on #112
Okayy, sorry didn't see.

[2021-03-11 10:05] #112 closed

[2021-03-11 10:09] AasthaGoyalgit commented on #104
@Tejas1510  i'm unable to join discord for this project it shows"invalid permission".

[2021-03-11 10:41] AmeyaJain-25 commented on #111
Yes Sure, that will be really great

[2021-03-11 10:56] Oviyabalamurugan opened #114 "Enhancement of the footer"
In an usual footer there must be essential details to connect to the website holder example icons of facebook,linkedin,twitter,github and many more,so that they get the connectivity and know about the website more.I would like to enhance the website by adding a better footer.I am a participant of GSSOC21.

[2021-03-11 12:32] abhishek7997 commented on #111
Yes

[2021-03-11 12:55] mitalirs commented on #111
Yes

[2021-03-11 14:20] sanjay270899 commented on #114
@Oviyabalamurugan Go Ahead!

[2021-03-11 14:21] sanjay270899 commented on #113
@Priyanka7011 Go Ahead!

[2021-03-11 14:24] sanjay270899 commented on #105
@abhishek7997 Will solve this tonight.  Sorry for inconvenienced.

[2021-03-11 15:54] Priyanka7011 commented on #113
Okay sir !
Thank You

[2021-03-11 21:32] sanjay270899 commented on #103
@mitalirs Try this link: https://athavani-sanjay-frontend.netlify.app/

[2021-03-11 21:45] sanjay270899 commented on #111
@AmeyaJain-25 @abhishek7997 @mitalirs Great!

Have to joined `GSSOC(GS)'s Server` ?

I will post a google meet link there. We will keep meet around 5-6 PM.

![image](https://user-images.githubusercontent.com/43892590/110859179-0f3f6f00-82e1-11eb-80a4-c8fc4f7949a0.png)

[2021-03-12 02:05] abhishek7997 commented on #111
The project channels are not visible.

On Fri, 12 Mar, 2021, 03:15 Sanjay Prajapati, ***@***.***>
wrote:

[2021-03-12 05:30] abhishek7997 commented on #105
@sanjay270899 I forked and checked the updated code, still doesn't work, browser console gives :
Failed to load resource: the server responded with a status of 404 (Not Found)  https://memories-mern-stack.herokuapp.com/auth/signin

[2021-03-12 07:12] mitalirs commented on #103
@sanjay270899  I tried using that, but when tried to sign up, after clicking on send OTP button it gave an 'invalid login' error message

[2021-03-12 07:32] Tejas1510 commented on #103
@mitalirs untill the problem solves you can use this dummy credentials
email: refce25@gmail.com
password : 1234567

[2021-03-12 08:26] AmeyaJain-25 commented on #111
Project channels aren't visible to the participants. They will be available for us within some days.

[2021-03-12 08:57] mitalirs commented on #103
Thank you @Tejas1510, will it be okay if I make changes and delete/create new memories for this profile?
Because I need to add the demonstrations(of creating/deleting/updating etc new memory) to the readme file

[2021-03-12 09:26] Tejas1510 commented on #103
Yes

On Fri, 12 Mar 2021, 2:27 pm Mitali Sonawane, ***@***.***>
wrote:

[2021-03-12 10:57] ShubhamSj07 opened #116 "On Refreshing the page, throwing netlify error"
**Describe the bug**
On refreshing the page, it gives an error of page not found(404) from netlify.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://memoriestejastapas.netlify.app/signin'
2. Click on 'Reload Button' to refresh page
3. See error

**Expected behavior**
On refreshing or reloading the page , it should  render the page as it is
There's an error for redirection and r

[2021-03-12 11:02] Tejas1510 commented on #116
Go ahead

On Fri, 12 Mar 2021, 4:28 pm welcome[bot], ***@***.***> wrote:

[2021-03-12 13:26] ShubhamSj07 commented on #116
@Tejas1510 , I am new to open-source contribution , i am not a gssoc 2021 participant.
Sorry for that, can i get to resolve this issue?

[2021-03-12 14:13] rohank2502 opened #117 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:35] Tejas1510 commented on #117
Go ahead @rohank2502

[2021-03-12 14:36] Tejas1510 commented on #116
Go ahead @ShubhamSj07

[2021-03-12 15:06] rohank2502 commented on #117
Thanks !!

On Fri, Mar 12, 2021 at 8:06 PM Tejas1510 ***@***.***> wrote:

[2021-03-12 15:24] mohammedjameel24 commented on #105
I have seen this app on Javascript Mastery mern memories app

I can resolve your issue

Please assign me

[2021-03-12 17:24] itsIapetus opened #118 "Add dark mode"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I would like to add dark mode if it's not already present.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any

[2021-03-12 18:08] #116 closed

[2021-03-12 18:29] Tejas1510 commented on #118
Go ahead @itsIapetus

[2021-03-12 19:39] sanjay270899 commented on #111
@AmeyaJain-25 @abhishek7997 @mitalirs

Now you can access the `Athavani` channel in GSSOC server. I have posted a google meet link their. We will meet at 5:00 PM 13th March'21.

[2021-03-13 07:57] Priyanka7011 commented on #113
I have raised a PR .Please review it .

[2021-03-13 11:01] abhishek7997 commented on #118
Is the project working on your system? @itsIapetus

[2021-03-13 12:39] AmeyaJain-25 opened #123 "New UI and design for the Create Post Card"
**Is your feature request related to a problem? Please describe.**
The UI is dull and not good. Also the creator name is in input bar with disabled. The choose file button is also not good.

**Describe the solution you'd like**
I will be changing the UI a bit and add the customized button for uploading the file. Also the validation would be improved

**Additional context**
Please assign me this is

[2021-03-13 12:43] sanjay270899 commented on #123
@AmeyaJain-25 Go Ahead!

[2021-03-13 14:07] sanjay270899 commented on #111
@AmeyaJain-25 Closing this issue. Signup issue is solved.

[2021-03-13 14:07] #111 closed

[2021-03-13 21:15] sanjay270899 commented on #105
Issue is solved now.

[2021-03-14 08:44] sanjay270899 commented on #103
@mitalirs Update?

[2021-03-14 11:25] ashishnagpal2498 opened #124 "Disable creator field"
**Describe the bug**
Creator field should be disabled as creator will be the profile owner only.

**To Reproduce**
Steps to reproduce the behavior:
1. Login with credentials
2. Check for right form

**Expected behavior**
The creator field should be disabled, hence -
1. Change cursor pointer
2. Change background color

**Screenshots**
![Inkedathavani_issue1_1](https://user-images.githubusercontent.

[2021-03-14 11:28] ashishnagpal2498 opened #125 "Create custom button"
**Is your feature request related to a problem? Please describe.**
Create a custom "Browse" button for better UI look.
![Inkedathavani_issue1_2](https://user-images.githubusercontent.com/36301481/111066706-71b58c80-84e6-11eb-808e-9840186fb0c1.jpg)

[2021-03-14 11:37] ashishnagpal2498 opened #126 "Change Buttons"
**Is your feature request related to a problem? Please describe.**
Change submit and clear buttons to icons.

**Describe the solution you'd like**
Use better color coding and icons for the existing buttons. Svg or use font-awesome

![Inkedathavani_issue1_3](https://user-images.githubusercontent.com/36301481/111066961-c9082c80-84e7-11eb-9a2d-9f6b11b18160.jpg)

[2021-03-14 11:46] ashishnagpal2498 opened #127 "Loading state position"
**To Reproduce**
Steps to reproduce the behavior:
1. Log into project
2. Click on 'My profile'
3. See error

**Expected behavior**
It should be centered and with visible color.

**Screenshots**
![Inkedathavani_issue2_](https://user-images.githubusercontent.com/36301481/111067163-eab5e380-84e8-11eb-97da-bbe783fb1281.jpg)

[2021-03-14 12:31] mitalirs commented on #103
I have created the Pull Request. Please review it

[2021-03-14 13:49] Cgoyal48 commented on #126
Hey @Tejas1510,
what exactly do you mean by change buttons?
will you please explain in detail so that I can contribute to this issue.
I am a GSSOC'21 participant .

[2021-03-14 13:55] Tejas1510 commented on #126
@ashishnagpal2498 can you please describe in detail as @Cgoyal48 will get a better understanding

[2021-03-14 15:03] ashishnagpal2498 commented on #126
So, basically you have to make buttons more appealing. In single line. Prefer flex boxes for it.
Reference -
![image](https://user-images.githubusercontent.com/36301481/111073326-49d52180-8504-11eb-9263-54d8b2cf0d85.png)

[2021-03-14 15:05] ShubhamSj07 commented on #124
@ashishnagpal2498 , would u pls provide dummy  credentials for login

[2021-03-14 15:10] ShubhamSj07 commented on #125
@ashishnagpal2498 , I would like to take this issue
Also, pls provide me dummy credentials for login
Thanks

[2021-03-14 15:30] rajesh6161 commented on #126
@ashishnagpal2498  I want to work on this issue. It will be better to use flex box. Please assign this issue to me.

[2021-03-14 15:57] Cgoyal48 commented on #126
@ashishnagpal2498 Thank you. I got it . I can surely handle the issue. Can you please assign the issue to me, I will start working on it immediately .

[2021-03-14 16:14] Tejas1510 commented on #126
go ahead @Cgoyal48

[2021-03-14 16:17] Supriya1702 commented on #127
I am a GSSOC'21 aspirant. I would like to work on this, Please assign this to me.

[2021-03-14 16:25] Cgoyal48 commented on #126
Thank you sir for assigning the issue to me.

[2021-03-14 16:41] Tejas1510 commented on #127
Go ahead @Supriya1702

[2021-03-14 17:03] Supriya1702 commented on #127
@Tejas1510 Could I get dummy credentials?

[2021-03-14 17:17] sanjay270899 commented on #124
@ashishnagpal2498 Creator field is already disabled.

[2021-03-14 17:18] ashishnagpal2498 commented on #124
@sanjay270899 . The field is disabled. But it doesn't look like. That's what I meant. Changing cursor to blocked and color of the field - grey maybe.

[2021-03-14 17:19] ashishnagpal2498 commented on #124
@ShubhamSj07 assigning it to you. 1 issue at a time.

[2021-03-14 17:21] sanjay270899 commented on #127
@Supriya1702
https://athavani-sanjay-frontend.netlify.app/

[2021-03-14 17:32] sanjay270899 commented on #125
@ShubhamSj07
Go Ahead!
Use this Link.
https://athavani-sanjay-frontend.netlify.app/

[2021-03-15 07:44] ShubhamSj07 commented on #125
@sanjay270899 , how to set-up server locally, I am not able to set-up back end .
To make changes , I need to sign in
Plz help me out!

[2021-03-15 13:49] #103 closed

[2021-03-15 14:15] Cgoyal48 commented on #126
Hey @Tejas1510 just wanted to ask how I can see my changes as my backend is not working?

[2021-03-15 14:22] #105 closed

[2021-03-16 04:17] rohank2502 commented on #117
Its already present !!

[2021-03-16 04:17] #117 closed

[2021-03-16 10:20] ranasauravsingh commented on #104
@Tejas1510 Sir is this issue still open then i want to contribute for the background... if you can please assigned this issue to me... Thank you for your time sir...

[2021-03-16 17:44] mohammedjameel24 opened #131 "DARK MODE UI"
## Dark Mode UI

Adding a widget to toggle dark mode and light mode theme in webpage

[2021-03-16 17:58] sanjay270899 commented on #108
@sayna3311 Any update?

[2021-03-16 18:00] sanjay270899 commented on #114
@Oviyabalamurugan Any update?

[2021-03-16 18:01] sanjay270899 commented on #123
@AmeyaJain-25 Any update?

[2021-03-16 18:03] sanjay270899 commented on #104
@AasthaGoyalgit Any update?

@ranasauravsingh Till then you can go ahead. But before sending PR or implementing it, approve your design here itself. Thank You!

[2021-03-16 18:06] sanjay270899 commented on #126
@Cgoyal48 Backend is working. You have to add your own keys in `.env` file in `server` folder (refer `.env.example` file). Also, change the URL to localhost in `index` file of `API` folder in `client`.

[2021-03-16 18:43] AmeyaJain-25 commented on #123
Yes, I've done the CSS part.
Validation is remaining. Will be making PR by tomorrow evening

[2021-03-16 18:44] Cgoyal48 commented on #126
@sanjay270899 okay. Thank you!

[2021-03-17 00:44] ranasauravsingh commented on #104
Sure @sanjay270899 sir, I'm on it... can you just assigned me also to the issue...

[2021-03-17 05:06] Oviyabalamurugan commented on #114
working on it will provide it by today.

[2021-03-17 10:25] AmrutaKoshe opened #133 "Not able to sign up. Missing credentials for 'PLAIN'"
**Describe the bug**
When I try to sign up/ create an account, it asks for my email id. After providing it and clicking on "send OTP" button, it displays a pop-up saying "Missing credentials for PLAIN". The email id is valid and I tried with different email ids, but this issue still persists.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://memoriestejastapas.netlify.app/signup

[2021-03-17 12:31] Tejas1510 commented on #133
@AmrutaKoshe use this link
It will solve the issue
https://athavani-sanjay-frontend.netlify.app/

[2021-03-17 20:02] AmeyaJain-25 commented on #125
Hello @sanjay270899  @ashishnagpal2498 ,
Actually this issue is been solved under issue #123
I have made the PR #134 for it.
Issue was for the UI and VALIDATION of CreatePost. I had mentioned too that I would be resolving the UI for choose a file button.

While going through issues, I came to know that this issue is already done in my PR.
Here's the screenshot for the button to upload the photos.

[2021-03-18 04:55] Bishal05 commented on #126
@Tejas1510 is the issue still open? If yes then can you assign me this project . I am a participant in gssoc 21

[2021-03-18 05:17] AmrutaKoshe commented on #133
okay! so the website link of the repo has to be updated 😅

[2021-03-18 17:04] soumalyatheking22012001 commented on #126
@Tejas1510,   @Cgoyal48 @Bishal05 are in the line but still I would also like to give a try can I do it ?

[2021-03-18 17:06] soumalyatheking22012001 commented on #131
Can you please elaborate what do you want @mohammedjameel24
It would be better to understand your demand correctly and then work on it

[2021-03-18 17:07] Tejas1510 commented on #126
@sanjay270899 Please have a look at it

[2021-03-18 17:07] soumalyatheking22012001 commented on #133
Is this issue fixed ?

[2021-03-18 17:08] mohammedjameel24 commented on #131
Issue edited

[2021-03-18 17:15] soumalyatheking22012001 commented on #131
ok thank you can I work on it @Tejas1510

[2021-03-18 17:16] soumalyatheking22012001 commented on #126
@Tejas1510 thank you

[2021-03-18 17:19] Tejas1510 commented on #131
Go ahead @soumalyatheking22012001

[2021-03-18 17:31] mohammedjameel24 commented on #131
I created the issue i should get assigned

[2021-03-18 17:32] mohammedjameel24 commented on #131
PLEASE ASSIGN ME !

[2021-03-18 18:13] AmeyaJain-25 opened #135 "Profile button"
**Is your feature request related to a problem? Please describe.**
The Profile button is not good at the bar of sort and other buttons. It should be at some proper place with some logo, photo or something else.
![Screenshot from 2021-03-18 23-37-54](https://user-images.githubusercontent.com/66305085/111675707-6befdc00-8843-11eb-981c-90e9c4dc1efc.png)

**Describe the solution you'd like**
I would l

[2021-03-18 18:25] sanjay270899 commented on #126
@Cgoyal48 any update?

[2021-03-18 18:28] Cgoyal48 commented on #126
Sir today we talked on discord and you said you will be taking an meeting tomorrow on which we will be discussing the problemi asked you other than that I have created the component to be used, So it's like just I have to use that component after that meeting.

[2021-03-18 18:33] sanjay270899 commented on #108
@Pranjal-2001 Go Ahead!

[2021-03-19 00:26] Oviyabalamurugan commented on #114
![image](https://user-images.githubusercontent.com/55582676/111714401-922f6f00-8877-11eb-9de5-1d05d42db4e6.png)
This is the current state of the footer i have to change stylings of the footer and legal__links class that have been provided.Can i proceed over it.

[2021-03-19 04:18] Ankita297 commented on #114
Can i work on this ?

[2021-03-19 06:32] kanishkaa24 commented on #118
Hello! Can I work on this under GSSOC ?

[2021-03-19 06:32] kanishkaa24 commented on #123
Hello! Can I work on this under GSSOC ?

[2021-03-19 06:32] kanishkaa24 commented on #126
Hello! Can I work on this under GSSOC ?

[2021-03-19 06:32] kanishkaa24 commented on #131
Hello! Can I work on this under GSSOC ?

[2021-03-19 08:14] sanjay270899 commented on #126
Hello Everyone @Cgoyal48 @rajesh6161 @Bishal05 @soumalyatheking22012001 @kanishkaa24
Today I will take a short google meet for setting up this Repo on your local machine. Meet will be at 4:00 PM IST Today. I wil provide meet link on GSSoC'21 Discord Server in Athavani Channel. So, if anyone is interested then they can join.

[2021-03-19 08:38] soumalyatheking22012001 commented on #126
@sanjay270899 can you give me the link to the server I cannot find it in discord

[2021-03-19 09:26] soumalyatheking22012001 opened #137 "Discord Sever invite link in Readme file is Expired"
**Describe the bug**
A clear and concise description of what the bug is.
Discord Server link in `Readme.md` is expired.
**To Reproduce**
Steps to reproduce the behavior:
1. Click the discord server link in the top of `Readme.md`
**Expected behavior**
After clicking the link should take me to the desired Server giving me an option to join it.

**Screenshots**
If applicable, add screenshots to help

[2021-03-19 10:26] sanjay270899 commented on #126
https://meet.google.com/wmp-qewm-bfo

[2021-03-19 11:22] soumalyatheking22012001 commented on #126
Is meeting over ?

[2021-03-19 13:09] sanjay270899 commented on #137
@Tejas1510 Should we create our own Athavani Discord Server?

[2021-03-19 17:13] mohammedjameel24 commented on #131
pull request #138

[2021-03-19 18:41] Tejas1510 commented on #137
@sanjay270899 ya sure we can create our own server

[2021-03-19 19:01] soumalyatheking22012001 commented on #137
@sanjay270899 @Tejas1510 Then after creating the server please update it in the readme file

[2021-03-19 20:47] #113 closed

[2021-03-20 21:49] #123 closed

[2021-03-21 14:06] sanjay270899 commented on #125
@ShubhamSj07 Did you able to set-up the repo or you need help?

[2021-03-21 14:09] #125 closed

[2021-03-21 14:10] sanjay270899 commented on #133
Yes.

[2021-03-21 14:10] #133 closed

[2021-03-21 14:55] jaiswalrobin opened #141 "Auth pages not responsive for mobile devices."
### Is your feature request related to a problem? Please describe.
 Currently the login form in the homepage is not responsive.

### Describe the solution you'd like.
I would like to make the login form responsive by correcting the width of the container and  set the input width so that it is responsive on all devices and hence a better user experience. I am gssoc21 participant and I would like to

[2021-03-21 21:06] aishwarya0816 opened #143 "Betterment of the PR template"
**Is your feature request related to a problem? Please describe.**
The current PR template does not suggest the contributor to add necessary screenshots.

**Describe the solution you'd like**
I will add the mentioned section in template for original and updated template

Please assign it to me @sanjay270899

[2021-03-22 11:20] #104 closed

[2021-03-22 12:10] #135 closed

[2021-03-22 14:44] prerna2712 commented on #114
Can I work on this?

[2021-03-22 15:36] sanjay270899 commented on #141
@jaiswalrobin Go Ahead!

[2021-03-22 15:39] sanjay270899 commented on #143
@aishwarya0816 Go Ahead!

[2021-03-22 20:59] #143 closed

[2021-03-22 21:22] sanjay270899 commented on #137
@soumalyatheking22012001 Updated the Discord Link in README.md.

[2021-03-23 06:44] #126 closed

[2021-03-23 06:53] sanjay270899 opened #146 "Display Create Time of Comments in Post"
![image](https://user-images.githubusercontent.com/43892590/112105512-8377ed80-8bd2-11eb-87e2-34f43e3be329.png)

[2021-03-23 06:54] Cgoyal48 commented on #146
Sir I would like to work on this issue as a GSSOC participant, can you please assign this issue to me?

[2021-03-23 06:54] sanjay270899 commented on #146
@Cgoyal48 Go Ahead!

[2021-03-23 06:56] Cgoyal48 commented on #146
Thank You @sanjay270899 for assigning the issue to me.

[2021-03-23 07:15] sanjay270899 commented on #114
@Ankita297 Go Ahead!

[2021-03-23 07:16] #108 closed

[2021-03-23 07:57] ShubhamSj07 commented on #146
@sanjay270899 , would u pls share discord & slack channel links.

[2021-03-23 10:28] hridhi opened #147 "Unable to sigup"
**Describe the bug**
When i tried to click the signup after typing out my email it didnt sigup and showed invalid error

**Expected behavior**
It should send an otp

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/57177761/112132287-6fdb7f80-8bf0-11eb-958d-dee403c9c908.png)

**Desktop (please complete the following inf

[2021-03-23 11:02] sanjay270899 commented on #147
@hridhi Thanks for letting us know about this error. Also, your screenshot helps us to solve this issue quickly. `Google Refresh Token` got expired. Now I have regenerated it. Thanks Again.

[2021-03-23 11:02] #147 closed

[2021-03-23 11:21] sanjay270899 commented on #146
@ShubhamSj07 https://discord.com/invite/gEqSYzc5Yu

[2021-03-23 11:21] sanjay270899 opened #148 "Join Athavani's Discord Server."
https://discord.com/invite/gEqSYzc5Yu

[2021-03-23 11:43] ShubhamSj07 commented on #146
But not able to follow channel updates!

[2021-03-23 15:58] soumalyatheking22012001 commented on #137
@sanjay270899 @Tejas1510 Thank you

[2021-03-23 15:58] soumalyatheking22012001 commented on #137
I'm closing the issue

[2021-03-23 15:58] #137 closed

[2021-03-23 18:56] AasthaCodex opened #149 "Integrating Google Sign-In"
i would like to add Integrating Google Sign-In to login into the website. Please assign me this.
A clear and concise description of what the problem is.
Normally, users prefer logging in with Google or Facebook to avoid filling up forms.

[2021-03-24 17:29] sanjay270899 commented on #149
@AasthaCodex Go Ahead!

[2021-03-24 17:34] sanjay270899 opened #150 "Documentation of Setting up this repo in local machine"
Detailed documentation with screenshots.

[2021-03-24 18:49] abhay27chauhan opened #151 "No need to use body-parser when using express version 4.16+"
## Is your feature request related to a problem? Please describe.
Express version 4.16+, their own body-parser implementation is now included in the default Express package so there is no need for you to download another dependency.

## Describe the solution you'd like
You have added a line to your code that looks like the following:

- app.use(bodyparser.json({ limit: '30mb', extended: true }));

[2021-03-24 18:49] abhay27chauhan commented on #151
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-24 19:24] sanjay270899 commented on #151
@abhay27chauhan Great! Go Ahead!

[2021-03-25 06:00] AshuKV commented on #150
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-25 06:08] Tejas1510 commented on #150
Go ahead @AshuKV

[2021-03-25 08:53] ShubhamSj07 commented on #148
@sanjay270899 , not able to set-up backend locally, pls help me out!
can we have a meet for setting backend ?

[2021-03-25 09:46] sanjay270899 commented on #148
Sure.

[2021-03-25 09:56] #151 closed

[2021-03-25 11:33] abhay27chauhan opened #153 "Error after initial connection was established, not handled"
**Is your feature request related to a problem? Please describe.**

snippet of you code -

[code]

read this pls, the error handling part -
https://mongoosejs.com/docs/connections.html#:~:text=If%20initial%20connection%20fails%2C%20Mongoose,after%20initial%20connection%20was%20established.

you have handle two errors -

if promise is rejected -> using the above code i have proposed
error after ini

[2021-03-25 11:34] abhay27chauhan commented on #153
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-25 17:21] sanjay270899 commented on #153
@abhay27chauhan Go Ahead!

[2021-03-26 09:03] jaiswalrobin commented on #141
@sanjay270899  I have made sign up and sign in form responsive. Do you want me to make changes in other pages also because there is no structure in the profile pages when display size is reduced?

[2021-03-26 09:07] jaiswalrobin commented on #141
@sanjay270899  for reference this is the screenshot :
<img width="505" alt="defect" src="https://user-images.githubusercontent.com/72142375/112608733-af98a600-8e40-11eb-8d19-eb4f988b756b.PNG">

Thankyou.

[2021-03-26 09:56] jaiswalrobin commented on #141
@sanjay270899 I have made a pull request regarding responsiveness of sign-in, sign-up, and forgot password page. please check.

[2021-03-26 15:06] muthuannamalai12 opened #156 "Bug in GitHub AutoAssign Mentors"
When Running the GitHub action to auto-assign Mentors for every PR it displays a [warning]Resource not accessible by integration` when running against PRs and it does not auto-assign reviewers. Similar to the issue link given below 👇
kentaro-m/auto-assign-action#29

[2021-03-26 15:07] muthuannamalai12 commented on #156
I would love to work on this issue as a part of Girl Script Summer of Code. Kindly assign it to me.

[2021-03-26 15:07] muthuannamalai12 opened #157 "Add github action to auto label issues"
Add github action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-26 18:11] pratyushchamola opened #158 "To add - Show Password - feature in Sign Up form"
**Is your feature request related to a problem? Please describe.**
While setting the password in the **Sign Up** form , user won't be able to see it, as the option is not been provided

**Describe the solution you'd like**
Adding a logic to make the password visible to user when he desires.
i.e,

From this:
![athavani-from](https://user-images.githubusercontent.com/69751991/112674272-b8fb3000-8e8b

[2021-03-26 21:11] #153 closed

[2021-03-27 05:50] sanjay270899 commented on #158
@pratyushchamola Just wanted to know that is this feature require?

[2021-03-27 05:54] sanjay270899 commented on #156
@Tejas1510 Do we need this feature?

[2021-03-27 05:57] Tejas1510 commented on #156
@sanjay270899 there is not a very immediate need but if you think it will add something valuable to the project you can assign it

[2021-03-27 07:29] pratyushchamola commented on #158
@sanjay270899,  I felt, as a user, when you setup an alphanumeric password for the very first time, it's always helpful if you can preview and crosscheck it, before confirming. Thus, I think this feature would be beneficial if provided.

[2021-03-27 10:30] sanjay270899 commented on #158
@pratyushchamola Right, that's why, for confirming we have 2 password input boxes. But as this is your first issue, Go Ahead!

[2021-03-27 11:14] sanjay270899 commented on #156
@muthuannamalai12 Go Ahead!

[2021-03-27 11:17] muthuannamalai12 commented on #157
I would love to work on this issue as a part of the girl script summer of code. Kindly assign it to me @sanjay270899

[2021-03-27 13:11] sanjay270899 commented on #157
@muthuannamalai12 Go Ahead!

[2021-03-27 13:16] pratyushchamola commented on #158
Thank you,  @sanjay270899

[2021-03-27 16:26] Ankita297 commented on #114
@sanjay270899  i am working on it . I will make the PR soon .

[2021-03-28 06:08] DineshKoushik commented on #158
@pratyushchamola, I'm working on this.

[2021-03-28 08:07] #156 closed

[2021-03-28 19:33] #141 closed

[2021-03-28 19:39] sanjay270899 commented on #150
@AshuKV Do you need any help?

[2021-03-28 19:41] sanjay270899 commented on #124
Solved in PR #134

[2021-03-28 19:42] #124 closed

[2021-03-28 19:43] sanjay270899 commented on #146
@Cgoyal48 Any update?

[2021-03-28 19:44] Cgoyal48 commented on #146
Yes sir working on it, it's a bit tough

[2021-03-28 19:48] jaiswalrobin commented on #118
@sanjay270899  can you please assign this issue to me under GSSOC.
Thankyou

[2021-03-28 19:54] sanjay270899 commented on #149
@AasthaCodex Any update?

[2021-03-28 19:55] AasthaCodex commented on #149
Finished half of it, will be done soon.

[2021-03-29 16:48] #158 closed

[2021-03-29 16:59] EkjotKaur opened #163 "Delete Comment option"
I want to add a delete comment option

Please assign me this issue @Tejas1510 @sanjay270899

[2021-03-29 17:01] EkjotKaur opened #164 "Like or Unlike one of these should happen"
A user is able to like and unlike a post

I was to add this feature.
Please assign me this issue @Tejas1510 @sanjay270899

[2021-03-29 17:03] Tejas1510 commented on #163
Go aheead @EkjotKaur

[2021-03-30 08:35] sanjay270899 commented on #164
@EkjotKaur Go Ahead!

[2021-03-30 11:29] Ankita297 commented on #114
![Athavani - Google Chrome 30-03-2021 16_58_52 (1)](https://user-images.githubusercontent.com/67833077/112981784-48009480-9179-11eb-91e2-dbc8e3e2d9f0.png)

[2021-03-30 11:30] Ankita297 commented on #114
@sanjay270899 is it okay ?
Or any other changes ?

[2021-03-30 13:14] ShambhaviSharma0110 opened #165 "Adding a homepage like feature with navbar"
**Is your feature request related to a problem? Please describe.**
A homepage like feature with navbar and footer and other pages guides the user better

**Describe the solution you'd like**
a homepage with a navbar having elements like aboutus, contact,etc  and footer with contact and social handle info
**Describe alternatives you've considered**
none
**Additional context**
none

[2021-03-30 18:43] sanjay270899 commented on #165
@ShambhaviSharma0110 Go Ahead!

[2021-03-30 18:47] #163 closed

[2021-03-30 18:54] sanjay270899 commented on #114
@Ankita297 Increase the top margin. And try to decrease the height of it. Rest is fine.

[2021-03-30 19:38] AasthaCodex commented on #149
@sanjay270899 Hey can you give me your mail? I want to ask you few things.

[2021-03-31 11:27] #114 closed

[2021-03-31 13:12] EkjotKaur commented on #146
Can I work on this issue as GGSOC'21 participant ? @sanjay270899

[2021-03-31 14:11] sanjay270899 commented on #149
@AasthaCodex https://discord.com/invite/gEqSYzc5Yu

[2021-03-31 14:11] Cgoyal48 commented on #146
No sir

[2021-03-31 14:13] sanjay270899 commented on #146
@Cgoyal48 Want more time or want to try other issue?

[2021-03-31 14:15] Cgoyal48 commented on #146
I would like to try another issue if possible more aligned to frontend 😅

[2021-03-31 14:17] sanjay270899 commented on #146
@EkjotKaur Go Ahead!

[2021-03-31 14:17] Cgoyal48 commented on #146
Okay sir

[2021-03-31 14:18] sanjay270899 commented on #157
@muthuannamalai12 Update?

[2021-03-31 14:23] muthuannamalai12 commented on #157
Sorry for the delay I have created a pull request now

[2021-03-31 14:56] ShambhaviSharma0110 commented on #165
cool! I'll start working on it then

[2021-04-01 15:31] #146 closed

[2021-04-01 15:53] EkjotKaur opened #171 "Comments could be deleted by the Admin"
In this project, at present only the user who has commented can delete it.
The admin should be able to delete the comments.

@sanjay270899 @Tejas1510  Please assign me this issue.

[2021-04-02 16:38] #171 closed

[2021-04-03 11:33] #127 closed

[2021-04-05 15:56] AshuKV commented on #150
@sanjay270899 Is it possible to add other contributors also to work on this issue?

[2021-04-05 19:43] sanjay270899 commented on #150
@AshuKV Okay.

[2021-04-06 14:50] EkjotKaur opened #175 "Error Message not disappearing."
![IssueErrorMessage](https://user-images.githubusercontent.com/66993173/113729572-c24e8d00-9714-11eb-8bd8-a1c668092cb6.png)

When I filled the values incorrectly then an error message occurs, so I type the correct values now. The error message still occurs.
I summited it error message still occurs

@Tejas1510 @sanjay270899 assign me this issue

[2021-04-06 14:52] ayushjha952 opened #176 "Problem with upload your memory in Creating a memory form."
**Describe the bug**
Upon clicking upload the file doesn't prompt anything. Instead we have to click below it.
and and also submit and clear button are overlapping.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Creating a Memory form after log in.
2. Click on Upload Your Memory.
3. See error

**Expected behavior**
Upon clicking Upload Your Memory a screen should pop up to upload memo

[2021-04-06 14:53] ayushjha952 commented on #176
Can you assign this issue to me?

[2021-04-06 18:14] sanjay270899 commented on #175
@EkjotKaur Go Ahead!

[2021-04-06 20:18] sanjay270899 commented on #176
@ayushjha952 Go Ahead!
But remember. It is not working when it is hosted. When running on local machine it is working fine.
![image](https://user-images.githubusercontent.com/43892590/113773177-4ae42200-9743-11eb-8046-3a1efa4bbb37.png)

[2021-04-07 03:11] ayushjha952 commented on #176
@sanjay270899 I am not able to start the project the project?

[2021-04-07 03:11] ayushjha952 commented on #176
And your form is different from my from how ?

[2021-04-07 05:05] sanjay270899 commented on #176
@ayushjha952 https://discord.com/invite/gEqSYzc5Yu

[2021-04-07 21:00] N-Shar-ma opened #178 "Major Bug: User cannot delete their own comment on someone else's post"
**Describe the bug**
After signing if, if a user comments on someone else's post, and then try deleting it, they are asked for the admin's password. That means, the comment is not being recognised as the user's own comment.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in to the website
2. Post a comment on someone's post
3. Try deleting it
4. User is prompted for admin's password, an

[2021-04-08 10:39] #175 closed

[2021-04-08 10:41] sanjay270899 commented on #178
@N-Shar-ma Would you like to work on this issue?

[2021-04-08 10:51] sanjay270899 opened #179 "Create a middleware, so that only verified user can access endpoints"
- [ ] Set up axios header in client
- [ ] Create a middleware in server
- [ ] Private Route Component in client

[2021-04-08 10:54] EkjotKaur commented on #179
I would like to contribute to this issue. Please assign me this issue @sanjay270899 .

[2021-04-08 12:06] N-Shar-ma commented on #178
@sanjay270899 Yes, I've figured out what needs to be changed to fix the bug as well!

[2021-04-08 15:03] Castella1313 opened #180 "Adding animation to component"
Adding animation to component

Adding animation to these components

![Screenshot 2021-04-08 at 8 31 10 PM](https://user-images.githubusercontent.com/53293156/114050067-96184500-98a9-11eb-9bfd-60cb9cf8e10b.png)

Animation Like this -

https://user-images.githubusercontent.com/53293156/114050152-a6c8bb00-98a9-11eb-8cfb-e1385128d8db.mov

[2021-04-08 15:04] Castella1313 commented on #180
@sanjay270899 May I work on it??

[2021-04-08 15:58] Tejas1510 commented on #180
Go ahead @Castella1313

[2021-04-08 18:27] SanskrutiRP opened #181 "Resend OTP for SignUp"
I think we should provide resend OTP option.

If user fails to enter OTP in some interval of time their should be option to resend the OTP after some time period.

[2021-04-08 18:29] SanskrutiRP opened #182 "OTP is not getting verified"
I am trying to Signup but after entering valid OTP I am not able to Signup.

And when I try to Signup again it sent me same OTP.

[2021-04-08 18:30] SanskrutiRP commented on #182
I would like to work on this will you please assign me this under GSSoC'21.

[2021-04-08 18:31] SanskrutiRP commented on #181
I would like to work on this will you assign this to me under GSSoC'21.

[2021-04-08 18:37] Tejas1510 commented on #181
Go ahead @SanskrutiRP

[2021-04-08 18:48] SanskrutiRP commented on #181
Thank you!

[2021-04-09 07:45] sanjay270899 commented on #178
@N-Shar-ma Go Ahead!

[2021-04-09 08:12] AmeyaJain-25 opened #185 "Multiple Commenting at burst clicking"
**Describe the bug**
If we write a comment and click on the comment button continuously, it gets multiple same comments added.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Comments'
2. Add a comment.
3. Continuously click on the button to send multiple comment.
4. See error

**Expected behavior**
It should not send multiple comments.

**Screenshots**
![Screenshot from 2021-04-09 13

[2021-04-09 08:36] sanjay270899 commented on #185
@AmeyaJain-25 Go Ahead!

[2021-04-09 09:26] AmeyaJain-25 opened #187 "Profile Photo not showing until data loaded"
**Describe the bug**
The Profile photo is not loaded until the data on home page is completely loaded

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Home page'
2. Before data loads, see the profile photo at top right corner.
3. See error

**Expected behavior**
Either the default photo or no plain empty photo should be there or No circle showing profile photo

**Screenshots**
![Scree

[2021-04-09 20:27] #179 closed

[2021-04-09 20:29] #185 closed

[2021-04-09 20:32] #118 closed

[2021-04-09 20:32] #131 closed

[2021-04-09 20:45] #178 closed

[2021-04-09 21:22] AmeyaJain-25 opened #190 "Comment is not able to delete and also can delete multiple times."
**Describe the bug**
Comment cannot be deleted by showing user password is wrong or wrong admin.
Another issue is if we submit the password on deleting the comment multiple times, then it gives notification of deleting it so many times.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to delete a comment.
2. Not able to delete.
3. While deleting, click multiple times on submit button.
4.

[2021-04-10 07:04] tarunsinghofficial opened #191 "About & contact section are not correctly aligned"
**Describe the bug**
The About us and contact section are not correctly aligned

**Expected behavior**
Centering both these things will get the website to look good.

**Screenshots**
![image](https://user-images.githubusercontent.com/62840625/114261597-0681ac00-99f9-11eb-8071-16de268f4f0d.png)

Additional context
Also, I'm a GSSoC21 Participant so, please add me under GSSoC21.

[2021-04-10 13:08] #187 closed

[2021-04-10 15:14] tarunsinghofficial commented on #191
Hey @sanjay270899
I'm a GSSoC21 Participant so, please add me under GSSoC21.

[2021-04-10 16:01] soumalyatheking22012001 commented on #131
Ok I would go ahead now

[2021-04-10 17:04] #191 closed

[2021-04-10 18:13] AmeyaJain-25 opened #195 "Uploading file takes extensions of all types"
**Describe the bug**
While uploading the files, it takes up all extenion files.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Upload button'
2. Upload .py, .pdf, etc extensions
3. See error

**Expected behavior**
It should accept only images extension such as png, jpg, jpeg.

**Screenshots**
If I upload .py file, it doesn't shows the image as it's not a jpg or png type of extension.

[2021-04-10 18:19] Tejas1510 commented on #195
Go ahead @AmeyaJain-25

[2021-04-10 21:05] #195 closed

[2021-04-11 07:26] AmeyaJain-25 opened #197 "Shouldn't go to signin page once logged in."
**Describe the bug**
When user logs in and go back or go to the signin page url, he is allowed to go, which is not supposed to.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Signin page'
2. Login
3. Go back
4. See error

**Expected behavior**
It shouldn't allow user to go to signin page once logged in

**Additional context**
I would like to work on this issue under GSSoC21.
Please a

[2021-04-11 09:02] AmeyaJain-25 opened #198 "Create Post Modal"
**Is your feature request related to a problem? Please describe.**
The Create Post Memory at the right is taking space. I have an idea that we can shift this into a modal and create memory will open when the button is clicked.
Then user can fill the form and the space of it can occupy another post besides to that.

![Screenshot from 2021-04-11 14-22-13](https://user-images.githubusercontent.com/66

[2021-04-11 11:58] sanjay270899 commented on #198
@AmeyaJain-25 Great! I was also thinking something like this.

Go Ahead!

[2021-04-11 13:06] Ankita297 commented on #149
@sanjay270899  can i work on this ?

[2021-04-11 14:06] sanjay270899 commented on #149
@Ankita297 Go Ahead!

[2021-04-13 21:05] AmeyaJain-25 commented on #197
@sanjay270899
Please assign this to me

[2021-04-14 13:37] #180 closed

[2021-04-14 16:39] Ankita297 commented on #149
@sanjay270899  can we use firebase ?

[2021-04-14 18:27] sanjay270899 commented on #149
@Ankita297 Okay

[2021-04-14 20:41] AmeyaJain-25 opened #201 "Empty Comment Submits"
**Describe the bug**
If user comments with empty string, then it registers that comment which shouldn't be able to do that.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any post
2. Click on comment icon
3. Submit the empty comment.
4. See error

**Expected behavior**
User shouldn't be able to submit empty comment.

**Screenshots**
![Screenshot from 2021-04-15 02-08-12](https://user-

[2021-04-15 05:13] #190 closed

[2021-04-15 05:15] #197 closed

[2021-04-16 11:10] AmeyaJain-25 opened #203 "Comments Section"
**Is your feature request related to a problem? Please describe.**
When comments number is too high or suppose 100, then the comments will show all 100 when comments section is opened.

**Describe the solution you'd like**
Either shifting the comments to new page or a modal.

**Describe alternatives you've considered**
My suggestion is to shift it to the modal.

**Additional context**
Please assig

[2021-04-16 15:17] sanjay270899 opened #204 "Show Outline Like/Dislike Icon when user have not Like/Dislike a post"
Use these icons:

`import ThumbUpAltOutlinedIcon from '@material-ui/icons/ThumbUpAltOutlined';`

`import ThumbDownAltOutlinedIcon from '@material-ui/icons/ThumbDownAltOutlined';`

[2021-04-16 15:20] Cgoyal48 commented on #204
@sanjay270899 please assign this issue under gssoc21 to me.

[2021-04-16 20:06] #198 closed

[2021-04-16 23:44] #204 closed

[2021-04-16 23:48] #201 closed

[2021-04-18 14:33] sanjay270899 commented on #149
@Ankita297 Any update?

[2021-04-18 14:33] sanjay270899 commented on #150
@AshuKV Any update?

[2021-04-21 02:57] Ankita297 commented on #149
@sanjay270899  sorry for late reply . I am busy on some of college work .  I will try  my best to resolve this .

[2021-04-21 18:30] sanjay270899 commented on #203
@AmeyaJain-25 any update?

[2021-04-21 18:35] AmeyaJain-25 commented on #203
Yes,
Just came at the end part.
Will be making PR by tomorrow.
Will that work?

[2021-04-23 16:22] #203 closed

[2021-04-23 20:26] AmeyaJain-25 opened #207 "No comments empty in comment modal"
**Is your feature request related to a problem? Please describe.**
If there is no comment on a post then show a message something like this "Be the first one to comment".

**Describe the solution you'd like**
Adding the tagline of "Be the first one to comment"

**Additional context**
Please assign me this issue under GSSoC 21'

[2021-04-25 22:22] sanjay270899 opened #208 "[Bug] Comment Time"
Bug: Time in comments is always showing `a few seconds ago`.

![image](https://user-images.githubusercontent.com/43892590/116011446-c1898680-a642-11eb-802b-b6b8c04259db.png)

[2021-04-27 18:45] #207 closed

[2021-04-27 19:09] N-Shar-ma opened #210 "Bug - Contents of Footer not properly aligned"
**Describe the bug**
The about athavani section in the footer is awkwardly aligned slightly to the right, instead of being centered

**To Reproduce**
Steps to reproduce the behavior:
1. Go to homepage
2. Scroll down to footer at the bottom
4. See misaligned content

**Expected behavior**
the contents of the footer should be center aligned

**Screenshots**
![image](https://user-images.githubusercon

[2021-05-03 16:44] sanjay270899 commented on #149
@AmeyaJain-25 @EkjotKaur want to try this one?

[2021-05-03 16:48] AmeyaJain-25 commented on #149
@sanjay270899 Currently I'm having my university exams.
I will be resuming my work from 9th of April.
But I'm sure that I can do this.

So, if it's late then I have no issues if @EkjotKaur wants to go ahead.

Or else I'll start from 9th if you have no issues with it.

[2021-05-04 15:00] anirudhsai20 opened #214 "Grammatical errors in the Readme"
There are a lot of grammatical errors in the Readme which need correction.

[2021-05-04 15:00] anirudhsai20 commented on #214
Hi! Please assign this issue to me under GSSOC.

[2021-05-04 20:52] theBeginner86 commented on #149
I want to work on this issue. As GSSOC'21 participant.

[2021-05-04 22:44] sanjay270899 commented on #149
@theBeginner86 Go Ahead!

[2021-05-05 11:54] theBeginner86 commented on #149
@sanjay270899 could you please help me in setting up the project on local machine. I have tried to follow the README but was not able to do it.
The following is the error I am facing:
<img width="872" alt="Screenshot 2021-05-05 at 5 19 09 PM" src="https://user-images.githubusercontent.com/73700530/117136909-9df2d880-adc6-11eb-874b-0ae29c9a31cd.png">

[2021-05-05 12:32] sanjay270899 commented on #149
@theBeginner86

I have sent a message on discord to you.

[2021-05-06 13:08] sanjay270899 opened #216 "Move all options to a fixed Left Nav Bar"
Each item of Left Fixed Navbar should have a relevant icon and name.

- Home
- Create Post
- Filters
- Subscribe
- Profile
- Logout

![image](https://user-images.githubusercontent.com/43892590/117303322-33ab6800-ae9a-11eb-8c2d-346e5fff0de5.png)

[2021-05-06 13:11] Cgoyal48 commented on #216
@sanjay270899 Kindly assign this issue to me under GSSOC.

[2021-05-06 13:15] sanjay270899 commented on #216
@Cgoyal48 Go Ahead!

[2021-05-06 16:34] ShubhamSj07 opened #217 "Adding GIF to readme"
**Is your feature request related to a problem? Please describe.**
I have designed a GIF which looks pretty good :)
Would love to add to readme file

![Athavani-GIF](https://user-images.githubusercontent.com/56510414/117333785-e689bf00-aeb6-11eb-8b57-e98c50f22b4e.gif)

Pls assign me this issue

[2021-05-06 16:41] Tejas1510 commented on #217
Go ahead @ShubhamSj07

[2021-05-07 13:13] #217 closed

[2021-05-07 18:04] theBeginner86 commented on #149
@sanjay270899
Update:
I am still working on it. I am able to console log user's gmail details after he/she clicks on signing with google. I just have to figure out a way to use it to get to the home page and make other things work as usual.
Will try to make the PR soon.

For now signing page looks as follows:
<img width="1440" alt="Screenshot 2021-05-07 at 11 31 03 PM" src="https://user-images.git

[2021-05-08 07:31] sanjay270899 opened #220 "Divide Header in two parts"
Wireframe:
![image](https://user-images.githubusercontent.com/43892590/117530930-7c2f6680-affd-11eb-8e46-3fc8569f2564.png)

[2021-05-08 07:32] Cgoyal48 commented on #220
@sanjay270899 I would like to work on this issue, kindly please assign it to me.

[2021-05-08 07:38] #216 closed

[2021-05-10 20:21] GuptaTanisha commented on #208
Please assign this to me.

[2021-05-12 05:21] AmeyaJain-25 commented on #220
If it's not done? Then can I work on this issue?
@sanjay270899 @Cgoyal48

[2021-05-12 05:28] AmeyaJain-25 opened #222 "Toogling between Fav and All posts"
**Is your feature request related to a problem? Please describe.**
The favourite and all post button is not looking good and is at very center at start.
Currently if new user comes, he/she may doesn't know that whether on clicking fav button the all posts button comes or not, etc

**Describe the solution you'd like**
Make it in a sequential and good looking manner, I suppose to have a toggle butto

[2021-05-12 05:58] Cgoyal48 commented on #220
I have done it but @sanjay270899 is not responding to it

[2021-05-12 06:19] Tejas1510 commented on #222
Go ahead @AmeyaJain-25

[2021-05-12 06:20] Tejas1510 commented on #220
@Cgoyal48 have you generated the pull request for this issue

[2021-05-12 06:22] Cgoyal48 commented on #220
@Tejas1510 No

[2021-05-12 06:24] Tejas1510 commented on #220
If you are done with the work you can generate a pull request, I and @sanjay270899 will review it till the end of the day
If you are having any doubt you can ask out here

[2021-05-12 06:26] Cgoyal48 commented on #220
Okay

[2021-05-14 13:47] #222 closed

[2021-05-14 13:48] sanjay270899 commented on #208
@GuptaTanisha update?

[2021-05-14 14:35] GuptaTanisha commented on #208
I am not able to sign up. Can't generate the OTP.

[2021-05-14 14:52] GuptaTanisha commented on #208
@sanjay270899 I tried to fix the bug. As I am not able to sign up. I have not verified whether the bug is fixed or not. Please check and update whether it is fixed or not.

[2021-05-14 18:27] #208 closed

[2021-05-14 22:53] #149 closed

[2021-05-15 20:00] ashishnagpal2498 opened #226 "Abrupt Component Change"
**Describe the bug**
The SignUp component gets switched up to SignIn component, abruptly.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to the app for the first time. You will able to see blue colored notification.
2. Click on 'Sign Up' button before the notification ends. (Within 2 secs)
4. See error

**Possible Solution**
The state of notification is in queue which is to be cleared

[2021-05-16 06:02] GuptaTanisha commented on #226
Can I work on this?

[2021-05-16 06:03] GuptaTanisha commented on #226
I am not able to sign up. Not getting any OTP. How to sign up?

[2021-05-16 07:09] AshuKV commented on #226
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-16 08:41] ashishnagpal2498 commented on #226
Will fix that OTP issue. Well this issue doesn't require login. Try replicating it and let me know if @GuptaTanisha if you would like to work on this issue ?

[2021-05-16 09:03] GuptaTanisha commented on #226
@ashishnagpal2498 I would like to work on this.

[2021-05-16 09:16] sanjay270899 commented on #226
Maybe token got expired. I will re-generate it.

[2021-05-17 14:46] #220 closed

[2021-05-17 17:49] ashishnagpal2498 opened #227 "Shows Web-app without Login"
**Describe the bug**
All the posts are viewed for like 2-3 secs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to project URL.
2. Click on back button of browser. Twice or thrice.
3. See error. (screenshot 1)
4. After it gets redirected to signIn page with token error. ( screenshot 2)

**Expected behavior**
Shouldn't be able to see the content.

**Screenshots**
![newIssue2](https://user

[2021-05-19 19:09] AmeyaJain-25 commented on #227
I would like to work on this issue @ashishnagpal2498 .
Assign me.

Also, I have some questions.

I'm trying to reproduced this issue. Cannot produce it. @ashishnagpal2498
If the user is once logged in, then if he/she tries to come to signin page, then it redirects it to home/dashboard page.

And, the user token expired occurs if the you are signed in and the localhost backend server is disconnecte

[2021-05-19 19:17] AmeyaJain-25 opened #228 "Image taking time to get loaded"
In the profile page, the image is taking time to lead because it is passed as a Buffer data and hence it is taking time.
My suggestion is to pass the rest of the data as json directly without image so that the data can be loaded and the image can be sent through another controller so that it can load independently and not restrict the other data to wait for it.

### Loading on profile page
![Scree

[2021-05-20 15:28] AmeyaJain-25 commented on #227
Yes @sanjay270899 , got the issue.
I debugged it. It's happening because on signup page, there is an check written if an authenticated user goes to that page, then he/she shouldn't be allowed.
The code is as follows:
![code](https://user-images.githubusercontent.com/66305085/119006100-af82d580-b9ad-11eb-8e6f-015cbc67d9e9.png)

Here I have 2 solutions.
1. We can make the whole page background to be

[2021-05-21 06:19] ashishnagpal2498 commented on #227
I guess that's the other issue. @sanjay270899 .
In this one you should be completely logged out from app first.
Now open this link - "athavani-sanjay-frontend.netlify.app/"
Press "back" button of your browser multiple times until you see the contents of the web-app for 5 secs. And then it gets redirected to SignIn page with "Token Error"

[2021-05-21 17:00] AmeyaJain-25 commented on #227
Yes, I got the issue @ashishnagpal2498.
This is happening because if we go back, then user is going to the home page, then after the page renders, the check is done (Reference: Image provided above snippet) whether user is already logged in or not.
This issue can be resolved by checking it before the page launches.

I have an Idea of making a Private Routes Component which can do the checking befo

[2021-05-21 19:18] AmeyaJain-25 opened #231 "After Login, SignUp Button should be disabled"
Steps to produce issue:
1. Logout
2. Go to Login Page
3. Enter details
4. Press Login
5. Before it gets logged in, press sign up button.

This issue was discussed  here => #227
Assign this to me and also let me know the option.
1. Disabling the button
2. Blur the screen with a loader sign until the login process goes on.

[2021-05-21 19:30] AmeyaJain-25 opened #232 "Password sent in the request"
There are many routes in which password is not set to null or deleted before sending the data to the client.
Here is the screenshot logging the data having password

![Screenshot from 2021-05-22 00-58-29](https://user-images.githubusercontent.com/66305085/119188856-e8e43f80-ba98-11eb-90d4-c74394d3c67f.png)

I will test the application completely and from BACKEND, I'll make sure that in each route,

[2021-05-21 19:33] AmeyaJain-25 commented on #231
Also let me know the option with which I should go?

[2021-05-22 16:39] AkhileshThite opened #233 "Bug: Social Media Links on sign In page are not working"
GSSoC'21
@Tejas1510 Hey, I would like to fix this issue.

[2021-05-24 14:03] AmeyaJain-25 opened #237 "Two Backgrounds on Signin Page"
The Signin Page are having two backgrounds after we scroll a biit down.
![Screenshot from 2021-05-24 19-29-46](https://user-images.githubusercontent.com/66305085/119359038-d0f20300-bcc6-11eb-984d-e56aa6ed6d7a.png)

Please assign me this issue

[2021-05-24 14:11] AmeyaJain-25 opened #238 "On Enter Functionality in Form"
When filling up the fields in signup and signin form, the user needs to click on submit button. My suggestion is to add a onEnter functionality so that it creates a better user experience.

Please assign this to me.

[2021-05-25 06:04] AmeyaJain-25 commented on #238
@sanjay270899 @Tejas1510
Please assign me this issue

[2021-05-25 06:04] AmeyaJain-25 commented on #237
@sanjay270899 @Tejas1510 , Please assign me this issue.

[2021-05-25 06:05] #233 closed

[2021-05-25 06:40] #228 closed

[2021-05-25 07:05] AmeyaJain-25 opened #241 "Image Loading issue"
In the home page, the image is taking time to lead because it is passed as a Buffer data and hence it is taking time.
My suggestion is to pass the rest of the data as json directly without image so that the data can be loaded and the image can be sent through another controller so that it can load independently and not restrict the other data to wait for it.

When we load the home page, all the po

[2021-05-25 18:23] AmeyaJain-25 opened #243 "Submit the input forms of Subscribe Mail on enter"
In Subscribe form, the form should submit on pressing enter so that it gives a better user experience.

Please assign me this issue

[2021-05-25 18:26] AmeyaJain-25 opened #244 "Name different in Sidebar and modal title"
In Sidebar, the name is CREATE POST and on opening that Modal, the title is CREATE A MEMORY.
I think the sidebar name should be changed to CREATE MEMORY

Please assign me this issue.

[2021-05-25 18:34] AmeyaJain-25 opened #245 "Subscribe and Create memory not opening on Profile Page"
**Describe the bug**
Subscribe and Create memory Modal does not open on Profile Page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile Page'
2. Click on 'Subscirbe or Create Memory Menu in Sidebar'
3. See error

**Expected behavior**
The Modal should open in all the pages or in all the menu's of sidebar but it opens only on home page.

**Additional context**
Please assign me th

[2021-05-27 18:18] AmeyaJain-25 opened #249 "Convert Alert box to toastify message"
As all the errors and success messages are shown up in toastify, the error alert in create memory modal is shown in ALERT BOX MESSAGE, which should be converted to toastify message so as to match the theme of the application.
![Screenshot from 2021-05-27 23-42-09](https://user-images.githubusercontent.com/66305085/119876926-0bb59e80-bf46-11eb-89a6-0b8f71c2f62e.png)

Please assign me this issue.

[2021-05-27 18:44] AmeyaJain-25 opened #251 "Edit Memory doesn't works"
**Describe the bug**
On Clicking on edit icon, nothing works.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home Page'
2. Click on 'Edit icon of any of the post'
3. See error

**Expected behavior**
On clicking the edit icon, the Edit memory modal should open and allow to edit.

**Additional context**
Please assign me this issue.

[2021-05-28 04:41] harshita2319 commented on #214
Is someone working on this? There's no activity.
I'd like to take up this issue. (GSSOC participant)

[2021-05-28 04:52] anirudhsai20 commented on #214
I am working on it

On Fri, May 28, 2021, 10:11 AM harshita2319 ***@***.***>
wrote:

[2021-05-28 16:52] AmeyaJain-25 opened #253 "No navigation in mobile screen"
**Describe the bug**
The Nav Menu Hmaburger Icon is not there in mobile screen size. Hence user cannot switch to profile, create memory, etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Website' in MOBILE screen width.
2. Cannot navigate to other pages.

**Expected behavior**
The menu icon is not implemented to navigate through pages.

**Screenshots**
![Screenshot from 2021-05-28

[2021-05-28 17:00] AmeyaJain-25 opened #254 "Footer Overlapping signin and singup form in Mobile screen"
The screenshot clearly explains that the footer is overlapping due to some css issues like fixed position or something other.
This issue exists in both the pages i.e Signin and Signup.

SignIn:
![Screenshot from 2021-05-28 22-25-58](https://user-images.githubusercontent.com/66305085/120017684-cc4d8780-c003-11eb-97b2-c0e3a0c7c387.png)

Signup:
![Screenshot from 2021-05-28 22-28-52](https://user-ima

[2021-05-28 17:09] AmeyaJain-25 opened #255 "Update Profile hide choose button"
While updating the profile, the input to choose the file is looking a bit wierd and not suitable to the theme.
![Screenshot from 2021-05-28 22-34-54](https://user-images.githubusercontent.com/66305085/120018784-3f0b3280-c005-11eb-8de0-51095a092abe.png)

Also in the mobile view, it overlaps the save and back button
![Screenshot from 2021-05-28 22-34-37](https://user-images.githubusercontent.com/663

[2021-05-28 19:21] AmeyaJain-25 opened #259 "Footer gets hidden due to drawer"
On every page, the footer content is not at the centre. Also if we go on decreasing the width of the screen, we can see that due to the drawer, the content gets hidden inside it.
Here is the screenshot.
![Screenshot from 2021-05-29 00-52-20](https://user-images.githubusercontent.com/66305085/120032709-353efa80-c018-11eb-9085-0ddb869d84c5.png)
![Screenshot from 2021-05-29 00-48-48](https://user-ima

[2021-05-29 10:24] #227 closed

[2021-05-29 10:27] #232 closed

[2021-05-29 10:29] #231 closed

[2021-05-29 10:34] #238 closed

[2021-05-29 10:37] #241 closed

[2021-05-29 10:39] #243 closed

[2021-05-29 10:40] #244 closed

[2021-05-29 10:42] #245 closed

[2021-05-29 10:44] #249 closed

[2021-05-29 10:47] #253 closed

[2021-05-29 10:49] #254 closed

[2021-05-29 10:50] #255 closed

[2021-05-29 10:52] #259 closed

[2021-05-29 10:53] harshita2319 commented on #150
Is this issue still up? I'd like to work on this!

[2021-05-29 10:53] #226 closed

[2021-05-29 11:26] sanjay270899 commented on #150
@Harshit850 Yes.

[2021-05-29 11:28] #165 closed

[2021-05-29 12:07] AmeyaJain-25 opened #261 "Discord Icon error"
The Discord icon code is written but it's not imported. It gives error.
![Screenshot from 2021-05-29 17-35-57](https://user-images.githubusercontent.com/66305085/120069628-92808d80-c0a4-11eb-9007-434c24ea6056.png)

Please assign me this issue

[2021-05-29 13:47] #251 closed

[2021-05-30 18:10] AmeyaJain-25 opened #263 "Close icons for modals"
The Create Memory modal, subscribe modal, the delete post modal doesn't have close icon. The user may not know that by Esc key, it get's closed. But we should provide a Close buttons to the modals.

![Screenshot from 2021-05-30 23-32-59](https://user-images.githubusercontent.com/66305085/120115222-516da380-c1a0-11eb-8657-4fccdb7117cd.png)
![Screenshot from 2021-05-30 23-33-10](https://user-images.

[2021-05-30 18:39] AmeyaJain-25 opened #265 "Edit Profile issue"
When user tries to edit the profile but he/she clicks on the cancel button, then the data should be gone away. That means he/she don't want to update the profile. But again if he/she opens the edit profile, the data written previously is shown which shouldn't.

![Screenshot from 2021-05-30 23-34-43](https://user-images.githubusercontent.com/66305085/120116108-284f1200-c1a4-11eb-9005-2b0ecf23d851.p

[2021-05-30 18:56] AmeyaJain-25 opened #267 "Delete Post showing message of deleted for multiple times"
**Describe the bug**
If I delete a post by clicking the delete button multiple times, the delete happens after some time, but the message of delete comes many times.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile'
2. Click on 'Delete Post Icon'
3. Enter your password.
4. Keep clicking on submit button continuously.
5. See the error.

**Expected behavior**
It should disable th

[2021-05-30 19:18] AmeyaJain-25 opened #269 "Footer Issue"
The footer issue which was previously solved, has bought some issue because the same css is applied for noth signin page footer and app.js footer. That's why the padding-left, center alignment and the bottom fixed position is making issue.

![Screenshot from 2021-05-30 23-32-30](https://user-images.githubusercontent.com/66305085/120117259-db6e3a00-c1a9-11eb-9e6d-16febc834d5b.png)

In this issue, t

[2021-05-31 07:28] #261 closed

[2021-05-31 07:31] #263 closed

[2021-05-31 07:33] #237 closed

[2021-05-31 10:07] AmeyaJain-25 opened #271 "Signin and Signup form issue"
On clicking on signin and signup forms without filling the data, the toastify message is to be shown. Currently it doesn;t do anything.

Steps to reproduce error:
1. Go to signin Page.
2. Don't put any data.
3. Click on Login button
4. See the error.

I want to work on this issue.

[2021-05-31 11:15] AmeyaJain-25 opened #273 "Lazy Loading for the Application"
This is a feature request to add Lazy Loading feature to apply code splitting to the application for fast rendering and bundle splitting.

Please assign me this issue.

[2021-05-31 11:54] AmeyaJain-25 opened #275 "Posts not rendered according to the latest"
The Posts on Home page are according to the latest date, but the Posts on profile page aren't according to the latest updated post.

This is the screenshot for Home page first 2 posts visible.
![Screenshot from 2021-05-31 17-15-56](https://user-images.githubusercontent.com/66305085/120189432-f9cd4780-c234-11eb-9c24-c5d10b62695f.png)

And this is the first 3 posts visible on profile page.
![Screens

[2021-05-31 12:12] AmeyaJain-25 opened #277 "Uneven alignment of posts due to flexwrap"
Currently posts rendered on Profile page is under a div which is containing the property of flex box with flexwrap as wrapped.
This is the reason if the data or number of posts in uneven, then the last few posts are arranged such like they don't match the pattern.
Here is the preview for it.
![Screenshot from 2021-05-31 16-21-57](https://user-images.githubusercontent.com/66305085/120191332-6ea1810

[2021-05-31 12:57] AmeyaJain-25 opened #279 "UI not proper for Post if long content."
If we post a memory with long content, then it allows.
But the issue is that it's shown with the whole content and it scrolls for the whole page as shown below. Also it affects it's sibling post height.
Note: The post is without opening the read more button.
![Screenshot from 2021-05-31 18-13-03](https://user-images.githubusercontent.com/66305085/120195015-ee314f00-c23b-11eb-9a52-5751e1d7e295.png)

[2021-05-31 15:31] AmeyaJain-25 opened #281 "Like and dislike event call doesn't know whether happens or not."
If I like a post and while process is going on, I don't know that the process has started. So I clicked again. Like this we can multiple times click on like and dislike buttons.
As I clicked two times, it liked then again removed the like as I had clicked it again.

So, we can either disable the button and let the user know about the process.

Please assign me this issue.

[2021-05-31 15:57] AmeyaJain-25 opened #283 "Sort Button to shift to left corner"
I think that the sort button functionality should be added to the left corner and not at the top bar.
As the all post and fav post is there in the right corner, similarly the sort should be at left corner for good UI and give space from it's top bar.
![Screenshot from 2021-05-31 15-56-53](https://user-images.githubusercontent.com/66305085/120218196-fe0a5c80-c256-11eb-9d32-7b226ea550b3.png)

Please

[2021-05-31 16:20] #265 closed

[2021-05-31 16:26] #267 closed

[2021-05-31 16:30] #269 closed

[2021-05-31 16:33] #271 closed

[2021-05-31 16:36] #273 closed

[2021-05-31 16:39] #277 closed

[2021-05-31 17:10] AmeyaJain-25 opened #285 "Search from tag optionality"
Feature of searching posts through the tag. Use of tag can be achieved.
User will be shown the posts which the search he / she is searching with the tags.

Please assign this to me.

[2021-05-31 18:21] AmeyaJain-25 opened #287 "Tags are not trimmed"
Here the tags if put with spaces, they are shown with spaces, which shouldn't
![Screenshot from 2021-05-31 23-31-56](https://user-images.githubusercontent.com/66305085/120229590-15534500-c26b-11eb-8c31-3be648a13c33.png)

[2021-06-01 19:29] Divyanshj commented on #214
Can I work on this issue if it's not completed yet ?

[2021-06-01 19:31] Divyanshj commented on #279
Can I contribute to this issue ?
please consider assigning

[2021-06-05 08:47] #279 closed

[2021-06-05 08:49] #283 closed

[2021-06-05 08:52] #287 closed

[2021-06-05 14:24] #275 closed

[2021-06-05 14:25] #281 closed

[2021-06-05 14:25] #285 closed

[2021-06-08 14:37] harshita9621 commented on #214
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 14:37] Sumit11081996 commented on #214
Hii, @Tejas1510  I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 14:38] harshita9621 commented on #150
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 14:39] Sumit11081996 commented on #150
Hii, @Tejas1510  I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 16:54] supzi-del opened #289 "Add smooth transition to login and send otp buttons"
When buttons are hovered upon, they are kind of harsh, so I would like to add a smooth transition to make it look nicer.

[2021-06-09 17:30] ritik-vashist opened #290 "Not able to fill details in login page in mobile view."
When we open the website in mobile view we are not able to enter details for login because of the banner of joining with us through social media.
I thinks its a major issue in it.

[2021-06-09 17:34] ritik-vashist commented on #290
I would like to work on this issue.
@Tejas1510  ma'am,
Could you please assign this task to me?

Another thing is there are two possible solution for it.
-that pages is to be hidden in mobile view
-second possibility is to have a close button in that banner to close that.

If you assign this task to me ma'am.
Then I request you to suggest me which option has to be chosen.

[2021-06-09 18:34] Tejas1510 commented on #289
@AmeyaJain-25 please have a look at this and assign accordingly

[2021-06-09 18:40] PriyankaHotchandani commented on #214
Hey @Tejas1510. I'd like to work on this as LGM SOC'21 participant.

[2021-06-09 18:46] Tejas1510 commented on #290
@ritik-vashist, I am Tejas Tapas so a Male so please don't call me mama 😅

@AmeyaJain-25 take a look into this and assign accordingly to @ritik-vashist

[2021-06-09 18:53] ritik-vashist commented on #290
Sorry @Tejas1510 sir.

[2021-06-09 19:53] Divyanshj commented on #214
@Tejas1510 , Please assign this issue to me under LGM-SOC'21.
I will make the Readme file more understandable.

[2021-06-10 07:54] AmeyaJain-25 commented on #289
@supzi-del
Can you please elaborate a bit more on which buttons are harsh. Or some screenshots of that buttons.

[2021-06-10 07:55] AmeyaJain-25 commented on #289
Sure @supzi-del
Go ahead.
Also try keeping the color theme of the application relatable.

[2021-06-10 08:04] AmeyaJain-25 commented on #290
@ritik-vashist
Go ahead.

Actually it's not a modal or popup which can be closed.
It's the footer and if you login, you can see it on profile and home page too.
What you can do is bring the footer at bottom ( Now it's using position absolute ). Then it will be fine. Because footer is must.
Also after bringing it to bottom, do check this footer in all the pages ( Home, Profile, Signin, Signup, etc

[2021-06-10 08:07] AmeyaJain-25 opened #291 "Logout Issue"
**Describe the bug**
User cannot logout. On clicking on logout, it gets an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Athavani'
2. Signin
3. Click on Logout
4. See error

**Expected behavior**
User should properly logout

**Screenshots**
![Screenshot from 2021-06-10 13-22-12](https://user-images.githubusercontent.com/66305085/121488648-e36f7a80-c9f0-11eb-9006-df2c59b39f75.

[2021-06-10 08:14] jayant766 commented on #291
can i work on it?

[2021-06-10 08:19] supzi-del commented on #289
Sure. I am working on it under LGM SOC'21. Can you please add the label?

[2021-06-10 08:20] AmeyaJain-25 commented on #291
Sure go ahead

[2021-06-11 09:28] supzi-del opened #295 "Improve the social media icons design"
**Is your feature request related to a problem? Please describe.**
The social media icons below "contact us" can be highlighted to make it look good

**Describe the solution you'd like**
An animation scale of 1.1 can be added and circular background can be white.

[2021-06-11 09:28] #290 closed

[2021-06-11 16:38] anushka-srivastava22 opened #296 "Zoom Out Effect on Hovering"
**Is your feature request related to a problem? Please describe.**
The cards of team members are static , it would be good to add hovering effects on them.

**Describe the solution you'd like**
 I can add zoom out effect on hovering on the cards with box shadow .

[2021-06-11 17:06] #289 closed

[2021-06-11 17:08] AmeyaJain-25 commented on #295
Sure @supzi-del, go ahead 👍🏻

[2021-06-11 17:11] AmeyaJain-25 commented on #296
@anushka-srivastava22  Can you add some screenshots or describe a bit more about cards on which page, etc.

[2021-06-11 19:42] ambalika24 opened #297 "Improve the UI of Create memory form"
I want to improve the UI of memory form to make it more appealing.
I want to change it's layout and styling.
@Tejas1510 please assign this issue to me under LGM SOC 21

[2021-06-12 04:09] Kartikey0205 opened #298 "It seems (signUp page )unresponsive in other views"
Footer and sign up form overlap each other

Please assign me this under Lgm SoC'21 @Tejas1510
![Screenshot_2021-06-12-09-34-07-53](https://user-images.githubusercontent.com/66429038/121764483-f3f33280-cb61-11eb-98b0-09fb002f6947.jpg)

[2021-06-12 06:12] codeaholic-shub opened #299 "Updating README.md Section"
**Is your feature request related to a problem? Please describe.**
I want to add "Lets Grow More" PNG image in README.md section for more captivating

**Additional context**
I an the participant of LGM-SOC 21 , so kindly assign this issue to me !
![121303829-28c07900-c919-11eb-8cf2-afd39b5c54ab png (781×261) - Google Chrome 12-06-2021 11_37_53](https://user-images.githubusercontent.com/65807708/12

[2021-06-12 06:13] codeaholic-shub commented on #299
Hey @Tejas1510 ,
Kindly assign this issue ,
So , I can work on it as soon as possible !

[2021-06-12 06:42] AmeyaJain-25 commented on #297
Sure, Go ahead @ambalika24
Discussing the UI or the change for the memory form before implementing it would be great.

[2021-06-12 07:31] AmeyaJain-25 commented on #298
@Kartikey0205
This issue is solved over here.
#290
The PR is also made. #294

You can take a fresh pull to see the issue resolved.

Anyways, You can go with other issues.
Keep contributing 💯

[2021-06-12 07:33] #298 closed

[2021-06-12 07:34] AmeyaJain-25 commented on #299
Yes, Go ahead @codeaholic-shub 👍🏻

[2021-06-12 11:22] AmeyaJain-25 opened #301 "Firebase SIgnIn"
Currently the application supports the google console signin. And this is creating logout issues and setup issues for many of us.
So, we are planning to shift the authentication of google signin to Firebase Signin with google.

Things to be done:
1. Remove the code base of google console authentication.
2. Add firebase sign in with google option.

Any one wishing to can solve this issue.

[2021-06-12 12:21] Hardikpoudel opened #302 "Loading bar should be replaced with some text if no events is added"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-12 12:34] ritik-vashist commented on #301
I can work on this issue.
@sanjay270899 , @AmeyaJain-25 sir could you please assign this task to me?

[2021-06-12 13:17] ChitvanRamani22 commented on #301
@ritik-vashist go ahead!

[2021-06-12 13:20] ChitvanRamani22 commented on #302
@Hardikpoudel can you please elaborate i mean what text will you be adding?

[2021-06-12 13:24] Aditi-Singh16 opened #303 "central align footer in mobile view"
![Capture4](https://user-images.githubusercontent.com/74586135/121777336-1f503e80-cbaf-11eb-8d04-2d00076e93ec.PNG)

Here we can see the footer is right-aligned.
having it in the center will be good.

I would like to work on this issue, please assign it to me.

[2021-06-12 13:30] #303 closed

[2021-06-12 15:21] gourav02 opened #304 "send otp is not working."
otp sending is failed. generates invalid note.

[2021-06-12 15:40] gourav02 commented on #304
/assign

[2021-06-12 16:01] ChitvanRamani22 commented on #304
@gourav02 go ahead!

[2021-06-12 19:10] ritik-vashist commented on #301
@AmeyaJain-25 , @ChitvanRamani22  Should I work on user verification also on the backend or I could do is  use proper signing and sign up by use of firebase in this issue. And later create a second issue that will verify the user?

[2021-06-12 19:12] AmeyaJain-25 commented on #301
Yes.
Current need is simply the firebase Signin.
You can do this in this issue

[2021-06-12 19:12] ritik-vashist commented on #301
@AmeyaJain-25 @ChitvanRamani22 @Jassi10000 @Tejas1510  sir,
I am having a query. I.e-  in this issue I have to use firebase auth config file. For testing I can use mine but for the real deployment project admins have to provide that Or guide me what to do with that?

[2021-06-12 19:13] AmeyaJain-25 commented on #301
@ritik-vashist
The verification through backend with email, etc can be done in another issue.
Gor for this once you finish this one

All the best 💯

[2021-06-12 19:17] AmeyaJain-25 commented on #301
You can create your own firebase details.
Once you are complete with your PR, just create a env.example file and provide the details to be given in that.

You can write the details in firebaseConfig.js file as,

var = {
firevaseAuthId: process.env.REACT_APP_AUTHID
........}

Like this you can create the config file and then push the code.
So, that every user can just put the credentials directly i

[2021-06-12 19:36] #148 closed

[2021-06-12 19:37] #182 closed

[2021-06-13 07:18] Hardikpoudel commented on #302
@ChitvanRamani22  the text like, Currently no events added, or something like that

[2021-06-13 15:02] AmeyaJain-25 opened #305 "Sidebar UI"
We wanna change the simple sidebar to something like [this](https://demos.creative-tim.com/material-dashboard-react/#/admin/dashboard)

Please have a look to the link above and try to implement the same and keeping the note of the color matching.

Anyone wishing to take this is welcomed.

[2021-06-13 16:17] Umesh-01 opened #306 "Add links to badges"
The badges (see the below image) in the README.md file doesn't contain any link to the related web pages and without them they are of no use.

![image](https://user-images.githubusercontent.com/83420185/121814815-9c9fb000-cc90-11eb-99dd-0548d26e535c.png)

I want to  add links to the badges so that anyone can go to the webpages after clicking on them.

[2021-06-13 16:18] Umesh-01 commented on #306
@Tejas1510 sir should I go ahead to make changes??

[2021-06-13 16:53] ChitvanRamani22 commented on #306
@Umesh-01 go ahead!!

[2021-06-13 16:56] ChitvanRamani22 opened #307 "Remove Warnings"
**Describe the bug**
On starting the project there are a lot of warnings that appear in the command-prompt which need to be removed as they do not look good.

[2021-06-13 18:52] jayant766 commented on #299
Kindly assign this issue ,
So , I can work on it as soon as possible !

[2021-06-14 08:22] supzi-del commented on #295
Hey! Can you please tell me in which file is the CSS related to social icons located?

[2021-06-14 10:47] AmeyaJain-25 commented on #295
It's in the components/Footer folder.
You can see the footer.js file and style.css

[2021-06-14 11:05] Jassi10000 commented on #214
@Divyanshj @PriyankaHotchandani @Sumit11081996  and others , guys we know you are enjoying contributing but what I will suggest is to try and check issues opened by mentors and not look up to already assigned
Best of luck to you guys!!!👍✌

[2021-06-14 11:29] ankh77sb commented on #305
I would like to work on this issue.. kindly assign

[2021-06-14 11:39] nimishbhandari commented on #305
I would like to work on this issue please

[2021-06-14 11:56] nimishbhandari opened #310 "Fresh styling of Sign-in and sign-up Pages."
-- I want to give these auth pages a new fresh look which will look more attractive.
-- I will vertically and horizontally center align the form.
-- Will use better colours.
-- Will use better fonts.

[2021-06-14 12:27] nimishbhandari commented on #310
/assign

[2021-06-14 18:08] ChitvanRamani22 commented on #305
@nimishbhandari as we work on first come first server basis so i have to assign it to @ankh77sb .
@nimishbhandari till then feel free to take up any other issue.

[2021-06-14 18:10] ChitvanRamani22 commented on #310
@nimishbhandari go ahead!

[2021-06-14 18:47] AmeyaJain-25 commented on #296
@anushka-srivastava22 , Can you give any update or let us know more about the issue?

Otherwise if the issue isn't as such, then we can close this one and you can try for some other fresh one's.

[2021-06-14 19:22] #306 closed

[2021-06-14 19:34] #295 closed

[2021-06-14 19:36] #299 closed

[2021-06-15 09:27] archanakumari-ak commented on #307
@ChitvanRamani22 I would like to work on this issue.

[2021-06-15 10:22] ChitvanRamani22 commented on #307
@archanakumari-ak Go Ahead!!

[2021-06-16 08:25] #296 closed

[2021-06-16 08:26] AmeyaJain-25 commented on #291
Any update @jayant766

[2021-06-16 08:26] AmeyaJain-25 commented on #297
@ambalika24
Any update?

[2021-06-16 08:27] AmeyaJain-25 commented on #302
@Hardikpoudel
Any update?

[2021-06-16 09:10] ambalika24 commented on #297
Sir, there is only one minor change left to do. i will send you my task by today itself.

[2021-06-16 09:35] jayant766 commented on #291
@AmeyaJain-25 working on it. Just give me one more day.

[2021-06-16 10:29] ankh77sb commented on #305
@AmeyaJain-25 .. im having issues in setting up..

[2021-06-16 10:31] Rishabhraghwendra18 opened #312 "Need Refactoring in README.md"
**Describe the bug**
In `Readme.md` file , under `Open Source Program` section , first two logos are added using `<img/>` tag but the last one which is of `Let's Grow More Summer of Code` , is added using markdown syntax. Take a look:
[code]
**Solution**
For sake of Uniformity throughout the section . I will like to add the last one's logo using `<img/>` , just like other .

[2021-06-16 10:31] Rishabhraghwendra18 commented on #312
_I will like to work on this issue under LGMSOC_

[2021-06-16 10:50] ayushkwal opened #313 "SignIn with google not working"
**Describe the bug**
On signin, an easy click for signin with google is not created.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Website Login Page'
2. See G+ button not working

**Expected behavior**
on clicking that button, it should logged in.

**Additional context**
Please give me a chance to make this button using Passport

[2021-06-16 11:12] #301 closed

[2021-06-16 11:15] AmeyaJain-25 commented on #305
Have you joined the slack channel?

[2021-06-16 11:15] AmeyaJain-25 commented on #305
Join the channel of Athvani project.
And just ping me over there. I'll resolve the set-up

[2021-06-16 11:16] ChitvanRamani22 commented on #313
@ayushkwal go ahead!!

[2021-06-16 11:17] ChitvanRamani22 commented on #312
@Rishabhraghwendra18 go ahead!!

[2021-06-16 11:20] ChitvanRamani22 commented on #310
@nimishbhandari any updates?

[2021-06-16 11:20] ritik-vashist opened #314 "Creating 404 page for website."
Currently website is not having 404 page. So i would like to add this page to it by shifting app.js to different components. And bind  the routes accordingly.

[2021-06-16 11:21] ritik-vashist commented on #314
@AmeyaJain-25  sir i request you to assign this task to me.

[2021-06-16 11:22] ritik-vashist commented on #314
It would be better if your give any design layout selected by the project team.

[2021-06-16 11:23] ChitvanRamani22 commented on #314
@ritik-vashist go ahead!!
Will send you a template.

[2021-06-16 11:31] ChitvanRamani22 commented on #314
![20210616_165948.jpg](https://user-images.githubusercontent.com/68965499/122211456-634f8600-cec4-11eb-9409-ab1d0385a1dd.jpg)
![20210616_165935.jpg](https://user-images.githubusercontent.com/68965499/122211462-65194980-cec4-11eb-8cbf-f85904f671bf.jpg)
@ritik-vashist you can go with any one of them.
But try to follow the color theme.

[2021-06-16 11:34] ChitvanRamani22 opened #315 "Splash screen."
We could add an interactive splash screen just before opening the home page ,it will look good.
Use can use react lazy, suspense.

[2021-06-16 11:36] ChitvanRamani22 commented on #304
@gourav02 i think there is some error in your setup as this function is working fine .
So i am closing thi issue, feel free to take any other issue.
Thanks.

[2021-06-16 11:36] #304 closed

[2021-06-16 12:32] AmeyaJain-25 commented on #315
@ChitvanRamani22 ,
React lazy is used.
Just a small loader is added. A circular one.
So, one can add another proper loader splash with keeping mind of the theme.
This can be applied combinly to all pages.

[2021-06-16 12:34] ChitvanRamani22 commented on #315
@AmeyaJain-25 yeah react lazy is used but timsout and all needs to be done.

[2021-06-16 12:52] AmeyaJain-25 commented on #315
Yep..
That may be perfect

[2021-06-16 13:41] ayushkwal opened #316 "Crappy Design"
The User Interface is very crappy, working fine but not looking **attractive** .
I want to change its design that will make it attractive and responsive.
**Toasts** of React are very common in websites.
Instead of Toasts, showing errors on form itself is good.

Responses recieved from server are very **weird** in looking.
Give me a chance to make it attractive enough.

Big Footer, glossy colours,

[2021-06-16 14:25] ChitvanRamani22 commented on #316
Great idea!!
Go ahead @ayushkwal !

[2021-06-16 14:46] ayushkwal commented on #316
What if we do contributions and approved by you?
Will we also get internship or full time opportunity or it is for knowledge
purpose only?

On Wed, 16 Jun, 2021, 7:55 PM ChitvanRamani22, ***@***.***>
wrote:

[2021-06-16 14:52] ChitvanRamani22 commented on #316
@ayushkwal this program is mainly meant for learning but we will soon have a leaderboard for participants. You will surely get some perks if you end up among the top performers , but otherwise also you will recieve a participation certificate.
But again the main take away is learning.

[2021-06-16 15:58] #297 closed

[2021-06-16 17:57] #214 closed

[2021-06-16 18:44] ishitakapoor26 opened #318 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 18:44] ishitakapoor26 commented on #318
@Tejas1510 pls assign this issue to me.

[2021-06-17 05:08] rushikadivar commented on #313
I would like to work on this issue to get into to login page button. Please assign me

[2021-06-17 05:13] ChitvanRamani22 commented on #313
@rushikadivar the issue is already assigned lets wait for sometime for @ayushkwal to respond .
Till then feel free to take up other issues which are not assigned.
Thanks.

[2021-06-17 05:20] rushikadivar commented on #313
Okay, looking for other issues! and I want to share my idea that the signing system should expect like when user get to log in (sign in)
firstly it will check to our database that it is there or the user can directly signing using google auth by clicking the G+ button.
is this a right way?

[2021-06-17 07:26] rushikadivar opened #319 "Signin, Signup authentication not working"
initially when you get into the site then the first page will notify you to signin first or signup and after we'll get into the home page and then the actions .......

but if I type into the "/home" into the URL it allows me to directly enter to the home page without getting signin or signup and I also can make a memories post

=> without signin/ signup getting into the home page
=> without signin

[2021-06-17 07:28] sanskarbansal opened #320 "[Critical Bug] User can update other users post."
**A clear and concise description of what the bug is.**
User can provide the _id of other user's post and update it without any authorisation.
**To Reproduce**
Steps to reproduce the behavior:
1. Create a post with your user, get someone else's post '_id' from database.
2. Intercept Requests using BurpSuit.
3. Delete the post which you just created in Step 1.
3.  Change the post id with anybody el

[2021-06-17 07:41] ChitvanRamani22 commented on #320
@sanskarbansal great go ahead!

[2021-06-17 07:41] ChitvanRamani22 commented on #319
@rushikadivar go ahead!

[2021-06-17 08:28] #312 closed

[2021-06-17 09:17] Divyanshj opened #323 "Description of icons(edit,save) in profile section while hovering"
**Describe the bug**
For a first time user of the site there should be a description of what the icon does when we click on it .
The description should appear while hovering on the icon.
I myself got confused about what will happen if i click on this icon .
so, I think the description will be of great help :-)

**Expected behavior**
In the profile section there are icons like a pen and a card , wh

[2021-06-17 09:18] Divyanshj commented on #323
Please assign this issue to me

[2021-06-17 10:03] #318 closed

[2021-06-17 10:08] sanskarbansal commented on #320
@ChitvanRamani22 please review my PR.

[2021-06-17 10:58] Hardikpoudel commented on #302
Sorry i was busy with my university research, I'll make complete it by tomorrow.

[2021-06-17 13:49] Shaishav0507 opened #325 "Some git commands need to be added in Readme file"
**Is your feature request related to a problem? Please describe.**

Hey @Tejas1510
I would like to add some more git commands in readme file.
Please assign it to me.
Thanks

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've cons

[2021-06-17 13:53] ChitvanRamani22 commented on #325
@Shaishav0507 it would be more convenient if you provide some examples of tge commands that you want to add.

[2021-06-17 13:57] Shaishav0507 commented on #325
Git remote add upstream.
Pull upstream
Git status

[2021-06-17 14:09] Jassi10000 commented on #325
@Shaishav0507  I don't think you will require this , by creating a new branch you can easily work
upstream  concept we don't suggest the participants to do

[2021-06-17 14:09] Shaishav0507 commented on #325
Ok

[2021-06-17 14:09] #325 closed

[2021-06-17 17:25] sanskarbansal opened #326 "[Bug] Error while logging out user."
**Description**
When user clicks on logout website throws an error.

**To Reproduce**
1. Login
2. Click on Logout
3. That's it.

**Expected behavior**
Token from Cookies/LocalStorage should get deleted.

**Screenshots**
<img width="1059" alt="Logout_Error" src="https://user-images.githubusercontent.com/32870271/122445215-f371f600-cfbe-11eb-81bc-05724d38981a.png">

[2021-06-17 17:29] #326 closed

[2021-06-17 18:59] ambalika24 commented on #315
@AmeyaJain-25 , @ChitvanRamani22 I want to work on this issue. Just wanted to ask - are we expecting a full splash screen page  or just a change in circular progress loader?

[2021-06-18 01:46] ayushkwal commented on #316
Hello,
I have changed design of front login and signup.
#327 is my code please assign me there and review it.
I will make more changes if you like it.

[2021-06-18 04:33] ChitvanRamani22 commented on #315
@ambalika24 it should be a full screen splash which should appear for 3000ms before the signin page appears.

[2021-06-18 04:35] ChitvanRamani22 commented on #315
For example: https://cdn.discordapp.com/attachments/824587831833526292/848501675354226688/VID-20210530-WA0009.mp4

[2021-06-18 04:59] ChitvanRamani22 commented on #316
@ayushkwal i appreciate your efforts.
But can you please have a look at this.
![20210618_102650.jpg](https://user-images.githubusercontent.com/68965499/122508674-fbae4d80-d01f-11eb-8ff3-870367e96b9c.jpg)

[2021-06-18 06:42] ChitvanRamani22 commented on #307
@archanakumari-ak any updates?

[2021-06-18 10:48] archanakumari-ak commented on #307
The warning I faced in the command prompt was : **"JsonWebTokenError: jwt malformed"**

![Capture758](https://user-images.githubusercontent.com/64682846/122549359-01238c00-d050-11eb-9225-c8f7558cc92e.PNG)

It was taking **token="null"** so I added if/else to check that on **Line 14** in **server/middleware/loginRequired.js**.

![Capture757](https://user-images.githubusercontent.com/64682846/122549

[2021-06-18 13:34] ChitvanRamani22 commented on #307
@archanakumari-ak seems like you have misunderstood the issue. I want you to remove the warnings that you see in the command prompt when you go inside client folder and then do npm start.

[2021-06-18 14:02] archanakumari-ak commented on #307
@ChitvanRamani22 I am sorry on my part, will do the changes soon and update the PR.

[2021-06-18 14:51] ChitvanRamani22 commented on #307
@archanakumari-ak no worries

[2021-06-19 09:44] #320 closed

[2021-06-19 09:46] #316 closed

[2021-06-19 10:54] ChitvanRamani22 commented on #291
@jayant766 any updates?

[2021-06-19 10:55] ChitvanRamani22 commented on #315
@ambalika24 do you want to work on this?

[2021-06-19 10:56] ChitvanRamani22 commented on #314
@ritik-vashist which tempelate have you choosen?

[2021-06-19 11:09] ritik-vashist commented on #314
I have choosen second template, due to some family issue and end sem exams work is delayed by a week I hope I will complete it by this week.
Sorry for the inconvenience caused by my side.

[2021-06-19 17:50] ambalika24 commented on #315
Yes ma'am. Please assign this issue to me.

[2021-06-19 18:02] ChitvanRamani22 commented on #314
@ritik-vashist no worries, take your time.

[2021-06-20 12:31] mak-ux commented on #319
is anyone still working on this?
If not,I would like to work on this.

[2021-06-20 19:40] Abhinav0909 commented on #181
@Tejas1510  I want to contribute in this issue.

[2021-06-21 03:26] Jassi10000 commented on #319
@mak-ux Buddy , a participant is assigned already , you can try other issues

[2021-06-21 04:37] #307 closed

[2021-06-21 06:46] ChitvanRamani22 commented on #291
@jayant766 are you working on this issue?

[2021-06-21 06:47] ChitvanRamani22 commented on #181
@Abhinav0909 go ahead.

[2021-06-21 06:49] ChitvanRamani22 commented on #305
@ankh77sb are you working on this?

[2021-06-21 06:49] ChitvanRamani22 commented on #310
@nimishbhandari unassigning due to no response.

[2021-06-21 06:50] #176 closed

[2021-06-21 06:50] ChitvanRamani22 commented on #313
@ayushkwal any updates?

[2021-06-21 06:52] ChitvanRamani22 commented on #323
@Divyanshj any updates?

[2021-06-21 06:55] ayushkwal commented on #313
Yes, will pull till tomorrow.

On Mon, Jun 21, 2021 at 12:20 PM ChitvanRamani22 ***@***.***>
wrote:

[2021-06-21 07:39] ankh77sb commented on #305
im unable to override some of the properities.. u may reassign to some other member

[2021-06-21 07:40] ChitvanRamani22 commented on #305
@ankh77sb If you have any issues you can always ask here or on slack.

[2021-06-21 08:55] supzi-del opened #331 "Match the hover effect of Twitter and Discord icons"
**Is your feature request related to a problem? Please describe.**
when discord icon is hovered, the hover effect must be added which matches twitter icon

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additio

[2021-06-21 09:27] Divyanshj commented on #323
@ChitvanRamani22 I asked for a querry on this project's slack channel 2 days ago but nobody replied.
I even tagged you and other mentor's there.

[2021-06-21 09:33] ChitvanRamani22 commented on #331
@supzi-del go ahead!

[2021-06-21 09:35] ChitvanRamani22 commented on #323
@Divyanshj will look into it.

[2021-06-21 12:00] heet-kumar commented on #310
@ChitvanRamani22 will you assign me this issue and what are the requirements are there from your side .

[2021-06-21 12:03] ChitvanRamani22 commented on #310
@heet-kumar you can think of the ideas for your side and share them here.

[2021-06-21 12:05] heet-kumar commented on #310
@ChitvanRamani22  ok and I am working under LGM-SOC'21

[2021-06-21 17:18] #331 closed

[2021-06-22 14:44] heet-kumar commented on #310
@ChitvanRamani22 which one is your back-ground image and header which one is correct .
1 . which showing in this https://athavani.vercel.app/signin
![Screenshot (657)](https://user-images.githubusercontent.com/78725162/122945651-5801cc00-d396-11eb-8457-8a76abe17cd7.png)

2.  or this one which is shown below in vercel app
![Screenshot (656)](https://user-images.githubusercontent.com/78725162/122944

[2021-06-22 14:49] ChitvanRamani22 commented on #310
@heet-kumar 2nd one is looking nice ..go ahead

[2021-06-22 16:35] ritik-vashist commented on #314
@ChitvanRamani22 ma'am you could assign this task to someone else as i am stuck in some family matter. Sorry for the inconvenience caused by my side.

[2021-06-22 17:06] AmeyaJain-25 commented on #315
Any update @ambalika24 ?

[2021-06-22 17:10] ChitvanRamani22 commented on #319
@rushikadivar any updates??

[2021-06-22 19:23] Jassi10000 commented on #323
@Divyanshj Buddy , you can now shift to Discord or you can even forward your query to your mentor lead so that he can forward that to mentors to help you

[2021-06-23 14:31] ambalika24 commented on #315
Yes Sir, I am working on it's design

[2021-06-23 15:44] Navdeepsingh4298 commented on #314
I would like to do this. i've read the conversation. second template need to be made. i can do it.

[2021-06-23 15:50] Navdeepsingh4298 commented on #314
i have seen somebody already added error404 page 5 months ago, but that doesn't seem working.

[2021-06-23 15:52] ChitvanRamani22 commented on #314
Yes go ahead

[2021-06-23 18:25] AmeyaJain-25 commented on #314
Actually the error 404 works properly, but if you see the app.js code, the Switch from react-router-dom is used somewhere at center and the sidebar and navbar is outside of it. Hence, if you go to any random url after base path, it shows the sidebar and navbar with middle part empty

[2021-06-24 03:59] Navdeepsingh4298 commented on #305
I've seen the template i can do it. I can do it using material ui. please assign me.

[2021-06-24 06:40] ChitvanRamani22 commented on #313
@ayushkwal any further updates??

[2021-06-24 06:55] ayushkwal commented on #313
Someone already implemented it through firebase.

On Thu, 24 Jun, 2021, 12:10 PM ChitvanRamani22, ***@***.***>
wrote:

[2021-06-24 14:48] ambalika24 commented on #315
@AmeyaJain-25 Sir, I have finalized the design. May i show you the sample?

[2021-06-24 14:56] ChitvanRamani22 commented on #315
@ambalika24 yes you can show the template.

[2021-06-24 18:36] #314 closed

[2021-06-24 18:47] ChitvanRamani22 commented on #319
@mak-ux do you want to work on this??

[2021-06-24 18:47] ChitvanRamani22 commented on #310
@heet-kumar any further updates??

[2021-06-24 18:48] ChitvanRamani22 commented on #181
@Abhinav0909 any updates???

[2021-06-24 20:21] ambalika24 commented on #315
@AmeyaJain-25  @ChitvanRamani22
https://drive.google.com/file/d/1j3CK3hSHHt_KGFJBcioJIPmODKQsfxRi/view?usp=sharing

[2021-06-24 21:12] Abhinav0909 commented on #181
Please give me two more days. I will try to finish it @ChitvanRamani22 sory for the delay.

[2021-06-25 01:39] heet-kumar commented on #310
@ChitvanRamani22 sign in page will looks like any more modification you required then tell .
![Screenshot (660)](https://user-images.githubusercontent.com/78725162/123355883-3108ed00-d584-11eb-815f-8e36699dfc8e.png)

[2021-06-25 05:16] Navdeepsingh4298 commented on #305
could you tell me do i have to make exactly same sidebar as shown in https://demos.creative-tim.com/material-dashboard-react/#/admin/dashboard

[2021-06-25 05:59] soumalyatheking22012001 commented on #319
I would like to work on this

[2021-06-25 06:01] soumalyatheking22012001 commented on #310
Put an assigned label in this issue

[2021-06-25 06:03] soumalyatheking22012001 commented on #291
I can also work on this considering the last comment was 4 days ago I think no one is working

[2021-06-25 06:23] ChitvanRamani22 commented on #310
@heet-kumar increase tye margin top of email input box so that the whole form shifts a little more down.

[2021-06-25 06:28] ChitvanRamani22 commented on #315
@ambalika24 can you once record it in such a way that after the preloader the signin page is also visible?
Thanks

[2021-06-25 09:58] priyaastha opened #334 "Add Custom Scrollbar"
**Is your feature request related to a problem? Please describe.**
I want to add a custom scroll bar that matches the UI of the website

[2021-06-25 10:00] priyaastha commented on #334
Please assign this issue under LGMSOC21
@sanskarbansal @ashishnagpal2498 @Supriya1702 @abhay27chauhan

[2021-06-25 11:25] heet-kumar commented on #310
ok sure

[2021-06-25 11:28] ChitvanRamani22 commented on #334
@priyaastha i think you havn"t tagged the right people.

[2021-06-25 15:05] ChitvanRamani22 commented on #323
@Divyanshj any further updates??

[2021-06-25 16:27] priyaastha commented on #334
Sorry and thanks

[2021-06-25 16:50] AmeyaJain-25 commented on #305
Yes @Navdeepsingh4298

[2021-06-25 16:50] AmeyaJain-25 commented on #305
Also if possible, try the color scheme of the project. If it suits better than this, then you can apply that

[2021-06-25 18:46] Navdeepsingh4298 commented on #305
Ok i'll try my best.

[2021-06-26 19:09] heet-kumar commented on #310
@ChitvanRamani22 completed the Styling of the SignIn and SignUp page as you can see below. any changes are required then tell.
Sign In page :
![Screenshot (692)](https://user-images.githubusercontent.com/78725162/123523235-092e9c00-d6e0-11eb-90af-dc07f2618c34.png)
 Sign Up page :
![Screenshot (691)](https://user-images.githubusercontent.com/78725162/123523254-28c5c480-d6e0-11eb-84c0-f4fe34a41b22.p

[2021-06-26 19:20] heet-kumar commented on #310
@ChitvanRamani22 also they both are responsive as well

[2021-06-27 14:45] heet-kumar commented on #310
@ChitvanRamani22 also reply as soon as possible.

[2021-06-27 15:14] ChitvanRamani22 commented on #310
@heet-kumar do this with signup also and generate the pr.

[2021-06-27 15:59] Jassi10000 commented on #181
@Abhinav0909 Are you done with the task  ?
What are the updates buddy ?

[2021-06-27 16:01] Jassi10000 commented on #150
@Sumit11081996 You want to work on it ?
Should I assign you ?

[2021-06-27 17:22] heet-kumar commented on #310
@ChitvanRamani22 done all updates you need ss or I should go for creating pr .

[2021-06-27 17:37] ChitvanRamani22 commented on #310
@heet-kumar just go agead with the pr

[2021-06-27 17:42] heet-kumar commented on #310
ok by tomorrow morning I will do it

[2021-06-28 06:08] heet-kumar commented on #310
@ChitvanRamani22 is it ok check it

[2021-06-28 06:23] ChitvanRamani22 commented on #310
@heet-kumar Have u generated a pr??

[2021-06-28 06:29] heet-kumar commented on #310
@ChitvanRamani22 yes I have created check it , is it not visible

[2021-06-28 06:44] #310 closed

[2021-06-28 15:23] ChitvanRamani22 commented on #319
Ok assigning it to you.Go ahead

[2021-06-28 15:24] #313 closed

[2021-06-28 15:24] ChitvanRamani22 commented on #291
@soumalyatheking22012001 any updates??

[2021-06-29 04:02] ambalika24 commented on #315
@ChitvanRamani22 ma'am, did it work?

[2021-06-29 18:56] NOiR-07 opened #338 "Shifting Login Page to centre"
I'm an LGMSOC participant, as we see the login page slightly upwards so I will shift the login page to the centre of the page to look better

[2021-06-29 19:01] NOiR-07 opened #339 "Grammer error"
In the login page at the footer, "New to Realate?" is written which doesn't make sense. I want to change it to a meaningful word like "New to Athavani/Memories?"

[2021-06-29 19:33] NancyNegi23 opened #340 "Update the README file"
Issue: To fix the broken links of the images  in the readme file of CONTRIBUTING.md

[2021-06-29 19:34] NancyNegi23 commented on #340
@Tejas1510  Can you assign me this issue under LGM-SOC'21?

[2021-06-29 19:42] NancyNegi23 commented on #150
@Jassi10000 @Tejas1510 Is this issue still up? Can you assign me this under LGM-SOC'21

[2021-06-30 05:29] Jassi10000 commented on #150
Yeah , @NancyNegi23 , its open

[2021-06-30 18:23] #305 closed

[2021-06-30 19:09] heet-kumar opened #343 "Loading bar issue in Sign-in and Sign-up page"
As I am the participant of the LGMSOC'21 I have founded some loading bar is getting visible on the button of the Sign-in and Sign-up pages it dose not looks god when email id is not correctly entered at that time loading bar appears on the buttons after that it shows server not responding . So I want to fix that problem by removing that particular feature . So assign me to work on this issue.

[2021-07-01 14:37] heet-kumar commented on #343
@ChitvanRamani22 reply for this issue

[2021-07-01 18:09] ChitvanRamani22 commented on #334
@priyaastha any updates??

[2021-07-01 18:10] ChitvanRamani22 commented on #291
Are u working?

[2021-07-01 18:10] ChitvanRamani22 commented on #319
@soumalyatheking22012001 any updates?

[2021-07-02 06:02] supzi-del opened #344 "Add git code- upstream & remote in readme"
**Is your feature request related to a problem? Please describe.**
After cd and before making new branch, there is no code -- git remote add upstream

**Describe the solution you'd like**
Add the git code to pull from upstream master

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Refer

[2021-07-02 06:05] supzi-del commented on #344
I would like to work on this under LGMSOC

[2021-07-02 12:03] heet-kumar commented on #343
@ChitvanRamani22 this was this issue here I am sending the pic . is it ok if I remove it .
![Screenshot (707)](https://user-images.githubusercontent.com/78725162/124271820-90a26200-db5b-11eb-90ce-39752370127f.png)

this issue comes in both log-In and Sign-In page both

[2021-07-02 12:04] heet-kumar commented on #343
on the buttons of the Login and Signup pages it appears .

[2021-07-02 13:30] ChitvanRamani22 commented on #344
PHAL #325

[2021-07-02 13:39] supzi-del commented on #344
So it is not required?

[2021-07-02 13:48] ChitvanRamani22 commented on #344
@supzi-del as of now, NO.

[2021-07-02 13:48] #344 closed

[2021-07-02 19:04] priyaastha commented on #334
Hey, should I apply this custom scrollbar on all the pages?
![Athavani - Google Chrome 03-07-2021 00_24_41](https://user-images.githubusercontent.com/55706563/124317686-2efee980-db95-11eb-9cd4-3275771eb086.png)
According to me, some of the files that may be changed to apply the scrollbar:
client/src/index.css
client/src/App.css
client/src/components/Auth/Forgot/Forgot.module.css
client/src/compone

[2021-07-02 19:07] ChitvanRamani22 commented on #334
@priyaastha Why are all these files being changed i think we need to change only app.css

[2021-07-02 19:08] #340 closed

[2021-07-02 19:09] ChitvanRamani22 commented on #339
@NOiR-07 any updates??

[2021-07-02 19:09] ChitvanRamani22 commented on #338
@NOiR-07 any updates?

[2021-07-02 19:11] priyaastha commented on #334
Ok, sir. Thanks for the help.

[2021-07-03 05:55] NOiR-07 commented on #338
Sir, i can't find the file where code of login page is written

[2021-07-03 05:58] ChitvanRamani22 commented on #338
It's in client/src/components/auth

[2021-07-03 06:33] NOiR-07 commented on #338
BUT THERE IS NO HTML FILE

[2021-07-03 06:37] ChitvanRamani22 commented on #338
We work on react to we have js file

[2021-07-03 06:40] NOiR-07 commented on #338
OKAY

[2021-07-03 11:03] heet-kumar commented on #338
@NOiR-07 you know the react js .

[2021-07-03 12:10] NOiR-07 commented on #338
not much

[2021-07-03 13:26] NOiR-07 commented on #339
Opened the PR

[2021-07-03 17:32] heet-kumar commented on #343
@ChitvanRamani22 I have resolved the issue whenever you will tell then I will create the PR .

[2021-07-03 18:03] ChitvanRamani22 commented on #343
@heet-kumar go ahead!

[2021-07-03 18:41] heet-kumar commented on #343
@ChitvanRamani22 I have created the PR go through it once .

[2021-07-03 18:53] #339 closed

[2021-07-03 18:53] #334 closed

[2021-07-04 06:37] 7JKaushal commented on #150
Is this issue still open? I'd like to contribute!

[2021-07-04 10:01] ChitvanRamani22 commented on #343
@heet-kumar i thought you have solved this issue and want to generate pr for it.

[2021-07-04 10:02] ChitvanRamani22 commented on #343
heet-kumar i thought you have solved this issue and want to generate pr for it.

[2021-07-04 15:42] AmeyaJain-25 commented on #315
@ChitvanRamani22 , Please have a look to this. If it's all good, then let @ambalika24 dp the further steps to make the PR

[2021-07-04 15:44] AmeyaJain-25 commented on #319
@soumalyatheking22012001 please update your work.

[2021-07-04 15:46] AmeyaJain-25 commented on #323
@Divyanshj , any updates?

[2021-07-04 16:23] Jassi10000 commented on #150
@NancyNegi23 What are the updates on this ?

[2021-07-04 16:29] Divyanshj commented on #323
@AmeyaJain-25 sir, i have discussed some errors with @ChitvanRamani22 .
until those errors are rectified i can't solve my isuue.

[2021-07-04 16:56] NancyNegi23 commented on #150
I'll submit it by tomorrow...actually I was kind of busy with my end sems.

[2021-07-04 17:50] heet-kumar commented on #343
@ChitvanRamani22  ya its solved now it will not going to visible now what further your expectation are there tell me with this issue .

[2021-07-05 10:47] heet-kumar commented on #343
what further expectation are their tell me so that I resolved it .

[2021-07-06 14:45] ShubhamSj07 opened #350 "🚀UI Changes in Footer & Customizing Scroll-bar styles"
**Is your feature request related to a problem? Please describe.**
CSS Fix needed for footer & default scroll-bar isn't looking cool with our ui,
So,
I would like to add stylings to scroll-bar & also like to fix footers css.

To this,
![athavni-scrollbar](https://user-images.githubusercontent.com/56510414/124619974-b5b60e00-de96-11eb-9976-3d3705b968e2.JPG)
![athavni-footer](https://user-images.git

[2021-07-06 18:01] ujju20 commented on #291
Can I work on this issue?

[2021-07-08 10:01] #350 closed

[2021-07-08 15:52] Esha-Sherring commented on #319
Is anyone working on this issue ?? If not I am interested to do so

[2021-07-08 15:55] Jassi10000 commented on #319
@Esha-Sherring  yeah you can work on this

[2021-07-09 18:23] ChitvanRamani22 commented on #323
@Divyanshj now the project is working absolutely fine. Please raise a pr for this issue ASAP.

[2021-07-10 13:18] Esha-Sherring commented on #319
Where can I discuss my queries . Is there any discord channel for this project?

[2021-07-10 14:46] ChitvanRamani22 commented on #319
@Esha-Sherring yes here's the link for our project channel.
https://discord.gg/e2b3npRX

[2021-07-11 09:03] #181 closed

[2021-07-15 08:05] ChitvanRamani22 commented on #291
@ujju20 can you please update on your work?

[2021-07-17 04:06] RiyaGupta89 commented on #323
May I work on this issue?

[2021-07-17 04:15] RiyaGupta89 opened #352 "Server is not responding bug"
**When a new user tries to sign in instead of sign up, the error message displays which says "Server is not resonding" which is a proper error message, it should be more clear that the user gets to know what is the error that he is trying to sign in instead of sign up because he is login for the very first time.**

**Expected behavior**
I will make the error more concise.

**Screenshots**
![mern](

[2021-07-19 04:45] RiyaGupta89 commented on #323
@ChitvanRamani22  I am unable to login in the website, unable to view home page. Otp is not coming.

[2021-07-19 11:46] Jassi10000 commented on #323
@ChitvanRamani22  @AmeyaJain-25 Mentors , this issue is also being forwarded to me by other participants , I think we should look into this

[2021-07-31 09:44] ShubhamSj07 opened #353 "Landing Page UI🚀 & Footer Css Fix!"
**Is your feature request related to a problem? Please describe.**
I would like to enhance the home page ui & css of footer section

![athavni-ui-fix](https://user-images.githubusercontent.com/56510414/127735965-54a5d2b6-caa5-40f8-a03d-15efada8e954.JPG)

![athavni-ui-fix-02](https://user-images.githubusercontent.com/56510414/127735973-c249cc97-7788-44b6-8877-b31b6ae27848.JPG)

![athavni-ui-fix-res

[2021-07-31 11:31] AmeyaJain-25 commented on #353
Sure @ShubhamSj07 , Go ahead 🚀

[2021-08-03 15:07] #353 closed

[2021-08-03 15:07] #352 closed

[2021-08-20 13:26] Jassi10000 opened #355 "Is application containerized ?"
@Tejas1510 Is this project containerized ?
If not I would like to containerize it

[2021-09-20 19:58] SS-Ace commented on #338
Respected mentor,
I am a participant from "Developer Days". Can i also contribute to this?

[2021-09-30 10:15] ShubhamSj07 commented on #323
@AmeyaJain-25 , i would like to fix this issue

[2021-09-30 10:16] AmeyaJain-25 commented on #323
Yeah please go ahead

[2021-09-30 17:37] adarsh45 commented on #338
Hello mentor,
I would like to take up this issue !
I am into MERN development since last 1 year
Understanding basic css can easily solve this issue
But my knowledge about grid, flexbox would really help me!

[2021-09-30 18:10] Tejas1510 commented on #338
Go ahead @adarsh45

[2021-10-01 01:53] Jassi10000 commented on #355
/assign

[2021-10-01 01:54] Jassi10000-zz commented on #355
@Tejas1510 Can you assign me this ?

[2021-10-01 05:14] AmeyaJain-25 commented on #355
Go ahead @Jassi10000

[2021-10-01 12:51] adarsh45 commented on #338
@Tejas1510 the deployed site and the one in code (/client) are different
And in the repo's code there is no need to center, as it is already done
Is there any different branch to work on this issue ?

[2021-10-01 16:41] Soumadipdas18 commented on #319
Respected mentor,
Can you assign it to me if its not yet to solved,
I am a participant of HackOctoberFest

[2021-10-01 18:41] AmeyaJain-25 commented on #319
Yes sure... Go ahead @Soumadipdas18
If any issues, do comment 🚀

[2021-10-01 18:44] AmeyaJain-25 commented on #338
I think it's done... You can vertically align them @adarsh45

Give a minHeight of 100vh and can bring the card at center vertically

[2021-10-01 18:54] Jassi10000-zz commented on #319
@AmeyaJain-25 Due to this issue only , am not able to sign up for an account and thus not able to dockerize it

[2021-10-02 09:48] AmeyaJain-25 commented on #319
The issue is what the priority...
We need to implement the complete signin and signup for this application as for other features, we can use firebase

[2021-10-02 12:13] Jassi10000-zz commented on #319
But before dockerizing it I need to have a view of the appication first

[2021-10-02 14:59] AmeyaJain-25 commented on #319
You can remove the private routes and make it a public one and have a look to the components.

[2021-10-07 19:28] onifs10 commented on #338
hello is this issue assign to anyone or is it resolved ?

[2021-10-07 21:33] AmeyaJain-25 commented on #338
You can go ahead @onifs10

[2021-10-07 21:47] onifs10 commented on #338
@AmeyaJain-25  what we have on the repo is different from what we have on the live demo .. and the from is well align from what i have here

[2021-10-08 05:30] AmeyaJain-25 commented on #338
Hosted link isn't updated.
And you have to align the box vertically center

[2021-10-08 08:59] onifs10 commented on #338
Alright

[2021-10-10 18:16] Jassi10000-zz opened #358 "Error in the installation steps in Readme"
**Describe the bug**
A clear and concise description of what the bug is.

The server files are present in the root of the project folder only , but then also in the readme it asks to cd into the server folder and then install node moduels

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2021-10-11 11:02] Jassi10000-zz commented on #358
@AmeyaJain-25 Assign me this

[2021-10-11 15:20] AmeyaJain-25 commented on #319
Any update @Soumadipdas18 ?

[2021-10-11 15:21] AmeyaJain-25 commented on #355
Any update @Jassi10000 ?

[2021-10-11 15:25] Jassi10000-zz commented on #355
@AmeyaJain-25 Yes, actually 80% stuff is done ,
but the issue is that application is breaking at some points , so struck in that only from last few days

@AmeyaJain-25 Can you help me in this  ? It will be very easy to proceed then

[2021-10-11 17:08] AmeyaJain-25 commented on #355
Actually that's because of the singing in and out issues.

Currently you can comment the private routes and work with the application

[2021-10-11 19:25] Jassi10000-zz commented on #355
Didn't got u
Can we get on a meet maybe tomorrow to do a discussion on this

[2021-10-12 13:10] AmeyaJain-25 commented on #355
Yep sure

[2021-10-12 13:11] #358 closed, assigned to Jassi10000-zz

[2021-10-19 15:56] Jassi10000-zz opened #360 "Improve readme"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
In the readme , the section where the technologies used are mentioned , the images are quite large and don't seem good on readme

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I would like

[2021-10-29 13:10] Jassi10000-zz opened #361 "Request to add a github action"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

******************************
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

This is an awesome and an engaging repository , plus due to hacktoberfest'21 many open source enthusiasts ( pr